Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*

Sync code-quality-improvements specs to main
  openspec/specs/cli-improvements/spec.md
  openspec/specs/code-deduplication/spec.md
  openspec/specs/concurrent-operations/spec.md
  openspec/specs/error-clarity/spec.md
  openspec/specs/testing-coverage/spec.md
  openspec/specs/type-safety/spec.md
Due: none

Complete self-reflection for code-quality-improvements
  openspec/changes/code-quality-improvements/reflections-iteration2.md
  openspec/changes/code-quality-improvements/reflections.md
Due: none

Archive change code-quality-improvements
  openspec/changes/archive/2026-03-30-code-quality-improvements/.openspec.yaml
  openspec/changes/archive/2026-03-30-code-quality-improvements/decision-log.json
  openspec/changes/archive/2026-03-30-code-quality-improvements/design.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/iterations.json
  openspec/changes/archive/2026-03-30-code-quality-improvements/osx-orchestrate.log
  openspec/changes/archive/2026-03-30-code-quality-improvements/proposal.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/reflections-iteration2.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/reflections.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/specs/cli-improvements/spec.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/specs/code-deduplication/spec.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/specs/concurrency/spec.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/specs/error-handling/spec.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/specs/testing-coverage/spec.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/specs/type-safety/spec.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/tasks.md
  openspec/changes/archive/2026-03-30-code-quality-improvements/verification-report.md
Due: none

Sync openspec-extended skills and commands to v1.13.1
  .opencode/commands/osc-apply.md
  .opencode/commands/osc-archive.md
  .opencode/commands/osc-bulk-archive.md
  .opencode/commands/osc-continue.md
  .opencode/commands/osc-explore.md
  .opencode/commands/osc-ff.md
  .opencode/commands/osc-new.md
  .opencode/commands/osc-onboard.md
  .opencode/commands/osc-propose.md
  .opencode/commands/osc-sync.md
  .opencode/commands/osc-update.md
  .opencode/commands/osc-verify.md
  .opencode/commands/osx-changelog.md
  .opencode/commands/osx-maintain-docs.md
  .opencode/commands/osx-review.md
  .opencode/commands/osx-verify-tests.md
  .opencode/skills/osc-apply-change/SKILL.md
  .opencode/skills/osc-archive-change/SKILL.md
  .opencode/skills/osc-bulk-archive-change/SKILL.md
  .opencode/skills/osc-explore/SKILL.md
  .opencode/skills/osc-ff-change/SKILL.md
  .opencode/skills/osc-new-change/SKILL.md
  .opencode/skills/osc-onboard/SKILL.md
  .opencode/skills/osc-propose/SKILL.md
  .opencode/skills/osc-sync-specs/SKILL.md
  .opencode/skills/osc-update-change/SKILL.md
  .opencode/skills/osc-verify-change/SKILL.md
  .opencode/skills/osx-commit/SKILL.md
  .opencode/skills/osx-commit/references/examples/angular.md
  .opencode/skills/osx-commit/references/examples/classic.md
  .opencode/skills/osx-commit/references/examples/conventional.md
  .opencode/skills/osx-commit/references/examples/gitmoji.md
  .opencode/skills/osx-commit/references/standards.md
  .opencode/skills/osx-review-artifacts/SKILL.md
  .opencode/skills/osx-review-artifacts/references/common-issues.md
  .opencode/skills/osx-review-artifacts/references/review-criteria.md
  .opencode/skills/osx-review-artifacts/references/schema-agnostic-contract.md
  .opencode/skills/osx-review-artifacts/references/store-selection.md
  .opencode/skills/osx-review-test-compliance/SKILL.md
  .opencode/skills/osx-review-test-compliance/references/scoring-rubric.md
Due: none

Add skillshare manifests and tooling state
  .opencode/manifest.toml
  .opencode/skills-manifest.toml
  .opencode/skills/.skillshare-manifest.json
  .openspec-extended-baseline.json
  .skillshare/.gitignore
  .skillshare/config.yaml
  .skillshare/skills/.metadata.json
Due: none

Refactor mise validation and rename check to verify
  .mise/config.toml
  .mise/tasks/lib/release-lib.sh
  .mise/tasks/release/validate.sh
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  openspec/config.yaml
  openspec/specs/infrastructure-release/spec.md
Due: build-ci-image

Release v0.12.0
  CHANGELOG.md
Due: none

Prune dead domain fields, broken option, and stale docs
  cmd/completion_test.go
  cmd/util.go
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/domain/context.go
  internal/domain/context_test.go
  internal/domain/git_types.go
  internal/domain/service_requests.go
  internal/infrastructure/context_resolver.go
  internal/service/worktree_service_test.go
  openspec/dead-code.md
Due: goreleaser-dry-run

Add foundation-error-chain change for error chain refactor
  openspec/changes/foundation-error-chain/.openspec.yaml
  openspec/changes/foundation-error-chain/design.md
  openspec/changes/foundation-error-chain/proposal.md
  openspec/changes/foundation-error-chain/specs/cli-error-formatting/spec.md
  openspec/changes/foundation-error-chain/specs/domain-typed-errors/spec.md
  openspec/changes/foundation-error-chain/tasks.md
Due: none

Register golang-error-handling in project skillshare
  .opencode/skills/.skillshare-manifest.json
  .skillshare/config.yaml
Due: none

Add architecture-layer-inversion change for layer separation
  openspec/changes/architecture-layer-inversion/.openspec.yaml
  openspec/changes/architecture-layer-inversion/design.md
  openspec/changes/architecture-layer-inversion/proposal.md
  openspec/changes/architecture-layer-inversion/specs/application-service-interfaces/spec.md
  openspec/changes/architecture-layer-inversion/specs/application-worktree-management/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-context-types/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-hook-types/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-typed-errors/spec.md
  openspec/changes/architecture-layer-inversion/specs/infrastructure-git-client/spec.md
  openspec/changes/architecture-layer-inversion/tasks.md
Due: none

Add quality-modernization change for test reliability and modernization
  openspec/changes/quality-modernization/.openspec.yaml
  openspec/changes/quality-modernization/design.md
  openspec/changes/quality-modernization/proposal.md
  openspec/changes/quality-modernization/specs/application-shell-service/spec.md
  openspec/changes/quality-modernization/specs/application-worktree-management/spec.md
  openspec/changes/quality-modernization/specs/cli-command-options-pattern/spec.md
  openspec/changes/quality-modernization/specs/cli-main-entry-point/spec.md
  openspec/changes/quality-modernization/specs/cli-quiet-mode/spec.md
  openspec/changes/quality-modernization/specs/cli-signal-handling/spec.md
  openspec/changes/quality-modernization/specs/domain-config-types/spec.md
  openspec/changes/quality-modernization/specs/domain-shell-wrappers/spec.md
  openspec/changes/quality-modernization/specs/infrastructure-config-manager/spec.md
  openspec/changes/quality-modernization/specs/infrastructure-context-resolver/spec.md
  openspec/changes/quality-modernization/specs/infrastructure-git-client/spec.md
  openspec/changes/quality-modernization/specs/infrastructure-hook-runner/spec.md
  openspec/changes/quality-modernization/specs/infrastructure-release/spec.md
  openspec/changes/quality-modernization/specs/testing-e2e/spec.md
  openspec/changes/quality-modernization/specs/testing-golden-file-testing/spec.md
  openspec/changes/quality-modernization/specs/testing-helpers/spec.md
  openspec/changes/quality-modernization/tasks.md
Due: none

Refine foundation-error-chain for 3-code exit dispatch
  openspec/changes/foundation-error-chain/design.md
  openspec/changes/foundation-error-chain/proposal.md
  openspec/changes/foundation-error-chain/specs/cli-error-formatting/spec.md
  openspec/changes/foundation-error-chain/specs/cli-main-entry-point/spec.md
  openspec/changes/foundation-error-chain/specs/domain-typed-errors/spec.md
  openspec/changes/foundation-error-chain/tasks.md
Due: none

Configure cobra commands for typed error dispatch
  cmd/cd.go
  cmd/completion.go
  cmd/delete.go
  cmd/init.go
  cmd/list.go
  cmd/prune.go
  cmd/root.go
  cmd/version.go
  openspec/config.yaml
Due: goreleaser-dry-run

Generalize variadicArgs mock helper over element type
  openspec/changes/foundation-error-chain/design.md
  openspec/changes/foundation-error-chain/proposal.md
  openspec/changes/foundation-error-chain/specs/cli-error-formatting/spec.md
  openspec/changes/foundation-error-chain/specs/domain-typed-errors/spec.md
  openspec/changes/foundation-error-chain/tasks.md
  test/mocks/cmd_mocks.go
  test/mocks/helpers.go
Due: none

Consolidate flag-usage errors through domain.UsageError
  cmd/error_handler.go
  cmd/error_handler_test.go
  cmd/init.go
  cmd/root.go
  internal/domain/AGENTS.md
  internal/domain/sentinels.go
  internal/domain/usage_error.go
  openspec/changes/foundation-error-chain/proposal.md
  openspec/changes/foundation-error-chain/specs/cli-error-formatting/spec.md
  openspec/changes/foundation-error-chain/specs/domain-typed-errors/spec.md
  openspec/changes/foundation-error-chain/tasks.md
Due: goreleaser-dry-run

Align foundation-error-chain implementation with spec
  cmd/cd.go
  cmd/completion.go
  cmd/create.go
  cmd/delete.go
  cmd/error_handler_test.go
  cmd/init.go
  cmd/list.go
  cmd/prune.go
  cmd/util.go
  cmd/version.go
  internal/domain/shell_errors_test.go
  main.go
  main_test.go
  openspec/changes/foundation-error-chain/specs/domain-typed-errors/spec.md
  openspec/changes/foundation-error-chain/tasks.md
  test/e2e/error_clarity_test.go
Due: goreleaser-dry-run

Document variadicArgs mock pattern and correct stale sentinel claim
  internal/domain/AGENTS.md
  test/mocks/AGENTS.md
Due: goreleaser-dry-run

Archive change foundation-error-chain
  openspec/changes/archive/2026-09-21-foundation-error-chain/.openspec.yaml
  openspec/changes/archive/2026-09-21-foundation-error-chain/design.md
  openspec/changes/archive/2026-09-21-foundation-error-chain/proposal.md
  openspec/changes/archive/2026-09-21-foundation-error-chain/specs/cli-error-formatting/spec.md
  openspec/changes/archive/2026-09-21-foundation-error-chain/specs/cli-main-entry-point/spec.md
  openspec/changes/archive/2026-09-21-foundation-error-chain/specs/domain-typed-errors/spec.md
  openspec/changes/archive/2026-09-21-foundation-error-chain/tasks.md
  openspec/specs/cli-error-formatting/spec.md
  openspec/specs/cli-main-entry-point/spec.md
  openspec/specs/domain-typed-errors/spec.md
Due: none

Bound context detector cache with bounded LRU
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_detector_test.go
  main.go
  openspec/changes/architecture-layer-inversion/tasks.md
  test/integration/context_detection_test.go
Due: goreleaser-dry-run

Rename infrastructure struct types and return interfaces from constructors
  internal/infrastructure/AGENTS.md
  internal/infrastructure/cli_client.go
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/command_executor.go
  internal/infrastructure/command_executor_test.go
  internal/infrastructure/gogit_client.go
  main.go
  test/concurrent/concurrent_test.go
  test/e2e/fixtures/e2e_fixtures.go
  test/integration/context_detection_test.go
  test/integration/git_clients_test.go
  test/integration/git_routing_test.go
  test/integration/hook_runner_test.go
  test/integration/project_discovery_test.go
  test/integration/prune_integration_test.go
Due: goreleaser-dry-run

Configure default slog handler from TWIGGIT_DEBUG
  main.go
  openspec/changes/architecture-layer-inversion/COORDINATION.md
  openspec/changes/architecture-layer-inversion/tasks.md
Due: none

Split context resolver dependencies and clone protected branches
  internal/infrastructure/config_manager.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/context_resolver_test.go
  main.go
  openspec/changes/architecture-layer-inversion/tasks.md
Due: goreleaser-dry-run

Replace git client composite with separate role interfaces
  internal/application/AGENTS.md
  internal/application/interfaces.go
  openspec/changes/architecture-layer-inversion/tasks.md
Due: goreleaser-dry-run

Add nil-guard and constructor tests for infrastructure clients
  internal/infrastructure/cli_client_test.go
  openspec/changes/architecture-layer-inversion/tasks.md
Due: goreleaser-dry-run

Add RepoFinder and remove obsolete infrastructure helpers
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/git_utils.go
  internal/infrastructure/git_utils_test.go
  internal/infrastructure/hook_runner.go
  internal/infrastructure/interfaces.go
  internal/infrastructure/pathutils.go
  internal/infrastructure/pathutils_test.go
  internal/infrastructure/repo_finder.go
  internal/infrastructure/repo_finder_test.go
  openspec/changes/architecture-layer-inversion/tasks.md
Due: goreleaser-dry-run

Wire main.go against role interfaces and drop git client composite
  internal/infrastructure/git_client.go
  internal/infrastructure/git_client_test.go
  internal/service/AGENTS.md
  main.go
  openspec/changes/architecture-layer-inversion/tasks.md
Due: goreleaser-dry-run

Bundle git client mocks and rename fixtures for role interfaces
  openspec/changes/architecture-layer-inversion/tasks.md
  test/integration/context_detection_test.go
  test/integration/git_clients_test.go
  test/integration/git_routing_test.go
  test/integration/project_discovery_test.go
  test/integration/prune_integration_test.go
  test/mocks/AGENTS.md
  test/mocks/git_service_mock.go
  test/mocks/repo_locator_mock.go
Due: none

Split modernization plan into bounded units
  openspec/changes/architecture-layer-inversion/design.md
  openspec/changes/architecture-layer-inversion/proposal.md
  openspec/changes/architecture-layer-inversion/specs/application-service-interfaces/spec.md
  openspec/changes/architecture-layer-inversion/specs/application-worktree-management/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-path-utils/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-typed-errors/spec.md
  openspec/changes/architecture-layer-inversion/specs/infrastructure-git-client/spec.md
  openspec/changes/architecture-layer-inversion/specs/infrastructure-path-utils/spec.md
  openspec/changes/architecture-layer-inversion/tasks.md
Due: none

Propagate LRU allocation errors from git client constructors
  internal/infrastructure/AGENTS.md
  internal/infrastructure/gogit_client.go
  internal/infrastructure/gogit_client_test.go
  main.go
  openspec/changes/architecture-layer-inversion/tasks.md
  test/integration/context_detection_test.go
  test/integration/git_clients_test.go
  test/integration/git_routing_test.go
  test/integration/prune_integration_test.go
Due: goreleaser-dry-run

Add path, repo, and shell helpers to the domain package
  cmd/create.go
  cmd/error_formatter.go
  cmd/init.go
  cmd/init_test.go
  cmd/output.go
  internal/domain/AGENTS.md
  internal/domain/context.go
  internal/domain/context_test.go
  internal/domain/errors_test.go
  internal/domain/git_repo.go
  internal/domain/git_repo_test.go
  internal/domain/git_types.go
  internal/domain/git_types_test.go
  internal/domain/hook_types.go
  internal/domain/hook_types_test.go
  internal/domain/pathutils.go
  internal/domain/pathutils_test.go
  internal/domain/service_errors.go
  internal/domain/service_errors_test.go
  internal/domain/service_results.go
  internal/domain/service_results_test.go
  internal/domain/shell_results.go
  internal/domain/shell_wrapper.go
  internal/domain/shell_wrapper_test.go
  internal/domain/validation.go
  internal/infrastructure/git_utils.go
  internal/infrastructure/hook_runner.go
  internal/infrastructure/hook_runner_test.go
  internal/service/shell_service.go
  internal/service/shell_service_test.go
  openspec/changes/architecture-layer-inversion/tasks.md
  test/integration/hook_runner_test.go
  test/integration/service_integration_test.go
Due: goreleaser-dry-run

Inject role-specific git interfaces into service constructors
  internal/service/context_service.go
  internal/service/context_service_test.go
  internal/service/doc.go
  internal/service/navigation_service.go
  internal/service/project_service.go
  internal/service/project_service_test.go
  internal/service/shell_service_test.go
  internal/service/worktree_service.go
  internal/service/worktree_service_test.go
  openspec/changes/architecture-layer-inversion/tasks.md
  test/mocks/git_service_mock.go
Due: goreleaser-dry-run

Add capability specs for the new package layout and role interfaces
  openspec/changes/architecture-layer-inversion/design.md
  openspec/changes/architecture-layer-inversion/proposal.md
  openspec/changes/architecture-layer-inversion/specs/application-worktree-management/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-context-types/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-hook-types/spec.md
  openspec/changes/architecture-layer-inversion/specs/domain-typed-errors/spec.md
  openspec/changes/architecture-layer-inversion/specs/infrastructure-git-client/spec.md
  openspec/changes/architecture-layer-inversion/specs/infrastructure-path-utils/spec.md
  openspec/changes/architecture-layer-inversion/tasks.md
  openspec/changes/cli-functional-core-shell/.openspec.yaml
  openspec/changes/cli-functional-core-shell/design.md
  openspec/changes/cli-functional-core-shell/proposal.md
  openspec/changes/cli-functional-core-shell/specs/cli-exit-codes/spec.md
  openspec/changes/cli-functional-core-shell/specs/cli-factory/spec.md
  openspec/changes/cli-functional-core-shell/specs/cli-iostreams/spec.md
  openspec/changes/cli-functional-core-shell/specs/cli-output/spec.md
  openspec/changes/cli-functional-core-shell/specs/core-errors/spec.md
  openspec/changes/cli-functional-core-shell/specs/core-paths/spec.md
  openspec/changes/cli-functional-core-shell/specs/core-types/spec.md
  openspec/changes/cli-functional-core-shell/specs/git-client/spec.md
  openspec/changes/cli-functional-core-shell/specs/git-config/spec.md
  openspec/changes/cli-functional-core-shell/specs/git-context-resolver/spec.md
  openspec/changes/cli-functional-core-shell/specs/git-hook-runner/spec.md
  openspec/changes/cli-functional-core-shell/specs/git-shell-detect/spec.md
  openspec/changes/cli-functional-core-shell/tasks.md
  openspec/changes/interface-segregation/.openspec.yaml
  openspec/changes/interface-segregation/design.md
  openspec/changes/interface-segregation/proposal.md
  openspec/changes/interface-segregation/specs/core-git/spec.md
  openspec/changes/interface-segregation/specs/git-client/spec.md
  openspec/changes/interface-segregation/tasks.md
  openspec/config.yaml
Due: none

Adopt errors.Is, strings.CutPrefix, and bound user-input file access
  internal/domain/git_repo.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/config_manager.go
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/context_resolver_test.go
  internal/infrastructure/git_utils.go
  internal/infrastructure/gogit_client.go
  internal/infrastructure/hook_runner.go
  internal/infrastructure/shell_infra.go
  openspec/changes/architecture-layer-inversion/tasks.md
Due: goreleaser-dry-run

Guard typed-nil interface results before ExitCode dereference
  internal/infrastructure/cli_client.go
  internal/infrastructure/hook_runner.go
Due: goreleaser-dry-run

Standardize command construction across all subcommands
  cmd/AGENTS.md
  cmd/cd.go
  cmd/cd_test.go
  cmd/create.go
  cmd/create_test.go
  cmd/delete.go
  cmd/delete_test.go
  cmd/error_handler.go
  cmd/init.go
  cmd/init_test.go
  cmd/list.go
  cmd/list_test.go
  cmd/prune.go
  cmd/prune_test.go
  cmd/root.go
  cmd/util.go
  cmd/version.go
  internal/cmdutil/factory.go
  internal/cmdutil/global_flags.go
  internal/cmdutil/global_flags_test.go
  internal/cmdutil/iostreams_cmd.go
  internal/git/client.go
Due: goreleaser-dry-run
