Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*

Refine infra-release-hardening change artifacts
  openspec/changes/infra-release-hardening/design.md
  openspec/changes/infra-release-hardening/proposal.md
  openspec/changes/infra-release-hardening/specs/infrastructure-release/spec.md
  openspec/changes/infra-release-hardening/tasks.md
Due: none

Reduce infra-release-hardening scope after threat-model review
  openspec/changes/infra-release-hardening/design.md
  openspec/changes/infra-release-hardening/proposal.md
  openspec/changes/infra-release-hardening/specs/infrastructure-release/spec.md
  openspec/changes/infra-release-hardening/tasks.md
Due: none

Apply foundation polish across toolchain, linter, build, docs
  .dockerignore
  .golangci.yml
  .goreleaser.yml
  .mise/config.toml
  AGENTS.md
  CONTRIBUTING.md
Due: build-ci-image, goreleaser-dry-run

Refine CI pipeline for TLS DinD, govulncheck, race, paths
  .gitlab-ci.yml
Due: none

Document infra-release-hardening in AGENTS.md
  AGENTS.md
Due: none

Refactor cmdutil composition root to functional options
  cmd/cd.go
  cmd/cd_test.go
  cmd/create.go
  cmd/delete.go
  cmd/init.go
  cmd/init_test.go
  cmd/list.go
  cmd/list_test.go
  cmd/prune.go
  cmd/suggestions.go
  cmd/version.go
  internal/cmdutil/factory.go
  internal/cmdutil/factory_test.go
  main.go
Due: goreleaser-dry-run

Enable CGO in CI image for -race detection
  Dockerfile.ci
Due: build-ci-image

Archive infra-release-hardening with synced release spec
  openspec/changes/archive/2026-09-28-infra-release-hardening/.openspec.yaml
  openspec/changes/archive/2026-09-28-infra-release-hardening/design.md
  openspec/changes/archive/2026-09-28-infra-release-hardening/proposal.md
  openspec/changes/archive/2026-09-28-infra-release-hardening/specs/infrastructure-release/spec.md
  openspec/changes/archive/2026-09-28-infra-release-hardening/tasks.md
  openspec/specs/infrastructure-release/spec.md
Due: none

Drop Go Report Card and GoDoc badges from README
  README.md
Due: none

Add GitHub Actions release CI change artifacts
  openspec/changes/github-release-ci/.openspec.yaml
  openspec/changes/github-release-ci/design.md
  openspec/changes/github-release-ci/proposal.md
  openspec/changes/github-release-ci/specs/infrastructure-release/spec.md
  openspec/changes/github-release-ci/tasks.md
Due: none

Add GitHub Actions release workflow
  .github/workflows/release.yml
  .goreleaser.github.yml
  .goreleaser.yml
  .goreleaser/hooks/create-github-release.sh
  openspec/changes/github-release-ci/tasks.md
Due: goreleaser-dry-run

Remove deprecated `verified` from goreleaser homebrew casks
  .goreleaser.yml
Due: goreleaser-dry-run

Release v0.13.0
  CHANGELOG.md
Due: none

Remove deprecated `verified` from goreleaser homebrew casksequire('dotfiles_theme').reload()
  .goreleaser.yml
Due: goreleaser-dry-run

Fix release failures on GitLab and GitHub Actions
  .github/workflows/release.yml
  .gitlab-ci.yml
Due: none

Make release flow work when latest tag is unreachable from HEAD
  .gitlab-ci.yml
  .mise/tasks/lib/release-lib.sh
  openspec/specs/infrastructure-release/spec.md
Due: none

Push main branch from release tag task
  .mise/tasks/release/prepare
  .mise/tasks/release/tag
Due: none

Fix mise release subtasks skipping on re-run
  .mise/tasks/release/check
  .mise/tasks/release/prepare
  .mise/tasks/release/tag
Due: none

Release v0.13.1
  CHANGELOG.md
Due: none

Fix goreleaser release config and token handling
  .github/workflows/release.yml
  .goreleaser.github.yml
  .goreleaser.yml
Due: goreleaser-dry-run

Release v0.13.2
  CHANGELOG.md
Due: none

Move homebrew_casks upload to GitHub release config
  .goreleaser.github.yml
  .goreleaser.yml
Due: goreleaser-dry-run

Pass GITHUB_TOKEN to goreleaser via step env
  .github/workflows/release.yml
Due: none

Release v0.13.3
  CHANGELOG.md
Due: none

Add syft pre-install to GitHub Actions release workflow
  .github/workflows/release.yml
  AGENTS.md
  openspec/specs/infrastructure-release/spec.md
Due: none

Release v0.13.4
  CHANGELOG.md
Due: none

Fix syft install in GitHub Actions release workflow
  .github/workflows/release.yml
  AGENTS.md
  openspec/specs/infrastructure-release/spec.md
Due: none

Use goreleaser Docker image as GitHub Actions release job container
  .github/workflows/release.yml
  AGENTS.md
  openspec/specs/infrastructure-release/spec.md
Due: none

Release v0.13.5
  CHANGELOG.md
Due: none

Align GitLab and GitHub release pipelines
  .github/workflows/release.yml
  .gitlab-ci.yml
  .mise/tasks/release/dry-run.sh
  AGENTS.md
  openspec/specs/infrastructure-release/spec.md
Due: none

Drop Homebrew cask distribution
  .goreleaser.github.yml
  .goreleaser.yml
  AGENTS.md
  README.md
  openspec/specs/infrastructure-release/spec.md
Due: goreleaser-dry-run

Release v0.13.6
  CHANGELOG.md
Due: none

Remove mistaken github-release-ci change folder
  openspec/changes/github-release-ci/.openspec.yaml
  openspec/changes/github-release-ci/design.md
  openspec/changes/github-release-ci/proposal.md
  openspec/changes/github-release-ci/specs/infrastructure-release/spec.md
  openspec/changes/github-release-ci/tasks.md
Due: none

Sign release checksums via goreleaser signs: block
  .github/workflows/release.yml
  .gitlab-ci.yml
  .goreleaser.github.yml
  .goreleaser.yml
  AGENTS.md
  openspec/specs/infrastructure-release/spec.md
Due: goreleaser-dry-run

Pin syft in mise tools for local goreleaser snapshot testing
  .mise/config.toml
  AGENTS.md
Due: build-ci-image

Release v0.13.7
  CHANGELOG.md
Due: none

Serialize CI image build across pipelines
  .gitlab-ci.yml
Due: none

Add Tabular projection and TSV plain rendering to cli-output spec
  openspec/changes/cli-cobra-output-format-unification/design.md
  openspec/changes/cli-cobra-output-format-unification/proposal.md
  openspec/changes/cli-cobra-output-format-unification/specs/cli-output/spec.md
  openspec/changes/cli-cobra-output-format-unification/tasks.md
Due: none

Cover four capabilities in cli output-format unification plan
  openspec/changes/cli-cobra-output-format-unification/design.md
  openspec/changes/cli-cobra-output-format-unification/proposal.md
  openspec/changes/cli-cobra-output-format-unification/specs/cli-command-groups/spec.md
  openspec/changes/cli-cobra-output-format-unification/specs/cli-list/spec.md
  openspec/changes/cli-cobra-output-format-unification/specs/cli-output-formats/spec.md
  openspec/changes/cli-cobra-output-format-unification/specs/cli-output/spec.md
  openspec/changes/cli-cobra-output-format-unification/tasks.md
Due: none

Tighten openspec config rules and add bracketed schema checks
  openspec/config.yaml
Due: none
