Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/twiggit/ci
  before_script:
  - apk add --no-cache curl
  ...

goreleaser-dry-run:
  stage: validate
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  script:
  - goreleaser release --snapshot --skip-publish --clean

Disable Go module proxy in GoReleaser
  .goreleaser.yml
Due: goreleaser-dry-run

Standardize CLI flags for create, delete, and init commands
  cmd/AGENTS.md
  cmd/create.go
  cmd/create_test.go
  cmd/delete.go
  cmd/delete_test.go
  cmd/init.go
  cmd/init_test.go
  internal/infrastructure/shell/service.go
  openspec/changes/flag-harmonization/design.md
  openspec/changes/flag-harmonization/tasks.md
  openspec/specs/command-flags/spec.md
  test/e2e/create_test.go
  test/e2e/delete_test.go
  test/integration/cli_commands_test.go
Due: goreleaser-dry-run

Add OpenSpec artifacts for flag harmonization and command-flags spec
  openspec/changes/flag-harmonization/.openspec.yaml
  openspec/changes/flag-harmonization/design.md
  openspec/changes/flag-harmonization/proposal.md
  openspec/changes/flag-harmonization/specs/specs.md
  openspec/changes/flag-harmonization/tasks.md
  openspec/specs/command-flags/spec.md
Due: none

Archive 'flag-harmonization' OpenSpec change
  openspec/changes/archive/2026-02-11-flag-harmonization/.openspec.yaml
  openspec/changes/archive/2026-02-11-flag-harmonization/design.md
  openspec/changes/archive/2026-02-11-flag-harmonization/proposal.md
  openspec/changes/archive/2026-02-11-flag-harmonization/specs/specs.md
  openspec/changes/archive/2026-02-11-flag-harmonization/tasks.md
Due: none

Accelerate goreleaser-dry-run execution
  .gitlab-ci.yml
Due: none

Flatten infrastructure package and simplify service layer
  internal/infrastructure/AGENTS.md
  internal/infrastructure/shell_infra.go
  internal/infrastructure/shell_infra_test.go
  internal/service/git_service.go
  internal/service/git_service_test.go
  internal/services/AGENTS.md
  internal/services/context_service.go
  internal/services/context_service_test.go
  internal/services/interfaces_test.go
  internal/services/navigation_service_test.go
  internal/services/project_service_test.go
  internal/services/shell_service_test.go
  internal/services/worktree_service_test.go
  main.go
  test/integration/context_detection_test.go
  test/integration/git_clients_test.go
  test/integration/git_routing_test.go
  test/integration/service_integration_test.go
  test/mocks/cmd_mocks.go
Due: goreleaser-dry-run

Refactor shell and path validation to eliminate duplication
  internal/domain/AGENTS.md
  internal/domain/shell.go
  internal/domain/shell_requests.go
  internal/domain/shell_test.go
  internal/infrastructure/AGENTS.md
  internal/infrastructure/context_resolver.go
  internal/services/AGENTS.md
  internal/services/shell_service.go
Due: goreleaser-dry-run

Fix architectural and naming inconsistencies in internal packages
  AGENTS.md
  cmd/root.go
  internal/application/interfaces.go
  internal/domain/interfaces.go
  internal/domain/validation_test.go
  internal/service/AGENTS.md
  internal/service/context_service.go
  internal/service/context_service_test.go
  internal/service/navigation_service.go
  internal/service/navigation_service_test.go
  internal/service/project_service.go
  internal/service/project_service_test.go
  internal/service/shell_service.go
  internal/service/shell_service_test.go
  internal/service/worktree_service.go
  internal/service/worktree_service_test.go
  main.go
  openspec/specs/verbose-output/spec.md
  test/integration/context_detection_test.go
  test/integration/service_integration_test.go
  test/mocks/cmd_mocks.go
Due: goreleaser-dry-run

Remove unused interfaces and eliminate caching
  internal/domain/context.go
  internal/domain/interfaces.go
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_detector_test.go
  internal/service/AGENTS.md
  test/integration/context_detection_test.go
  test/mocks/context_detector_mock.go
Due: goreleaser-dry-run

Standardize test patterns to use Testify suites
  internal/domain/AGENTS.md
  internal/domain/config_test.go
  internal/domain/errors_test.go
  internal/domain/project_test.go
  internal/domain/service_errors_test.go
  internal/domain/shell_errors_test.go
  internal/domain/shell_test.go
  internal/domain/validation_test.go
  internal/domain/worktree_test.go
  internal/infrastructure/config_manager_test.go
  internal/infrastructure/context_detector_test.go
  internal/infrastructure/context_resolver_test.go
  internal/infrastructure/gogit_client_test.go
  internal/infrastructure/pathutils_test.go
  internal/infrastructure/shell_infra_test.go
  internal/service/AGENTS.md
  internal/service/context_service_test.go
  internal/service/navigation_service_test.go
  internal/service/project_service_test.go
  internal/service/shell_service_test.go
  internal/service/worktree_service_test.go
  test/AGENTS.md
  test/mocks/shell_infrastructure_mock.go
Due: goreleaser-dry-run

Standardize domain import format to multi-line
  internal/domain/git_types.go
  internal/domain/project.go
  internal/domain/service_results.go
  internal/domain/shell_errors.go
  internal/domain/worktree.go
Due: goreleaser-dry-run

Standardize error handling across domain, infrastructure, and service layers
  internal/domain/AGENTS.md
  internal/domain/config.go
  internal/domain/project.go
  internal/domain/project_test.go
  internal/domain/shell.go
  internal/domain/worktree.go
  internal/domain/worktree_test.go
  internal/infrastructure/AGENTS.md
  internal/infrastructure/config_manager.go
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/git_client.go
  internal/service/AGENTS.md
  internal/service/navigation_service.go
  internal/service/navigation_service_test.go
  internal/service/worktree_service.go
Due: goreleaser-dry-run

Standardize mocks to use testify/mock pattern
  cmd/cd_test.go
  cmd/create_test.go
  cmd/delete_test.go
  cmd/list_test.go
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/command_executor.go
  internal/infrastructure/context_resolver_test.go
  internal/service/context_service_test.go
  internal/service/navigation_service_test.go
  internal/service/project_service_test.go
  internal/service/shell_service_test.go
  internal/service/worktree_service_test.go
  test/integration/cli_commands_test.go
  test/integration/git_routing_test.go
  test/integration/project_discovery_test.go
  test/mocks/cmd_mocks.go
  test/mocks/context_detector_mock.go
  test/mocks/git_service_mock.go
  test/mocks/mock_context_detector.go
  test/mocks/mock_context_resolver.go
  test/mocks/services/navigation_service_mock.go
  test/mocks/services/project_service_mock.go
  test/mocks/services/services_test.go
  test/mocks/services/worktree_service_mock.go
  test/mocks/shell_infrastructure_mock.go
Due: goreleaser-dry-run

Add codebase quality audit skill
  .opencode/command/audit-codebase.md
  .opencode/skills/audit-codebase-quality/SKILL.md
  .opencode/skills/audit-codebase-quality/references/audit-areas.md
  .opencode/skills/audit-codebase-quality/references/deduplication.md
  .opencode/skills/audit-codebase-quality/references/go-patterns.md
Due: none

Add comprehensive test coverage and improve error handling infrastructure
  cmd/create.go
  cmd/delete.go
  cmd/error_handler_test.go
  cmd/init.go
  internal/domain/AGENTS.md
  internal/domain/config.go
  internal/domain/service_requests.go
  internal/domain/service_results.go
  internal/domain/shell.go
  internal/domain/shell_requests.go
  internal/infrastructure/AGENTS.md
  internal/infrastructure/cli_client.go
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/git_client_test.go
  internal/infrastructure/git_utils.go
  internal/infrastructure/pathutils.go
  internal/infrastructure/shell_infra.go
  internal/service/project_service.go
  internal/service/shell_service.go
  internal/service/shell_service_test.go
  internal/service/worktree_service.go
  test/integration/service_integration_test.go
Due: goreleaser-dry-run

Restructure audit-codebase-quality skill for modularity and flexibility
  .opencode/skills/audit-codebase-quality/SKILL.md
  .opencode/skills/audit-codebase-quality/references/audit-areas.md
  .opencode/skills/audit-codebase-quality/references/go-patterns.md
  .opencode/skills/audit-codebase-quality/references/go-patterns/go-anti-patterns.md
  .opencode/skills/audit-codebase-quality/references/go-patterns/go-basics.md
  .opencode/skills/audit-codebase-quality/references/go-patterns/go-concurrency.md
  .opencode/skills/audit-codebase-quality/references/go-patterns/go-configuration.md
  .opencode/skills/audit-codebase-quality/references/go-patterns/go-performance.md
  .opencode/skills/audit-codebase-quality/references/go-patterns/go-testing.md
  .opencode/skills/audit-codebase-quality/references/positive-observations-template.md
  .opencode/skills/audit-codebase-quality/references/validation-checklist.md
Due: none

Add OpenSpec extended commands and skills for artifact management
  .opencode/command/opsx-changelog.md
  .opencode/command/opsx-concepts.md
  .opencode/command/opsx-maintain-docs.md
  .opencode/command/opsx-modify.md
  .opencode/command/opsx-review.md
  .opencode/command/opsx-verify-tests.md
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-concepts/references/artifact-formats.md
  .opencode/skills/openspec-concepts/references/change-guidance.md
  .opencode/skills/openspec-generate-changelog/SKILL.md
  .opencode/skills/openspec-generate-changelog/references/changelog-format.md
  .opencode/skills/openspec-generate-changelog/references/example-output.md
  .opencode/skills/openspec-generate-changelog/references/proposal-parsing-guide.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/references/doc-structures.md
  .opencode/skills/openspec-maintain-ai-docs/references/update-examples.md
  .opencode/skills/openspec-maintain-ai-docs/references/update-rules.md
  .opencode/skills/openspec-modify-artifact/SKILL.md
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/references/common-issues.md
  .opencode/skills/openspec-review-artifacts/references/review-criteria.md
  .opencode/skills/openspec-review-test-compliance/SKILL.md
  .opencode/skills/openspec-review-test-compliance/references/report-format.md
  .opencode/skills/openspec-review-test-compliance/references/semantic-extraction.md
  .opencode/skills/openspec-review-test-compliance/references/test-discovery-strategies.md
Due: none

Create OpenSpec change for prune command
  openspec/changes/prune-command/.openspec.yaml
  openspec/changes/prune-command/design.md
  openspec/changes/prune-command/proposal.md
  openspec/changes/prune-command/specs/branch-deletion/spec.md
  openspec/changes/prune-command/specs/worktree-management/spec.md
  openspec/changes/prune-command/specs/worktree-pruning/spec.md
  openspec/changes/prune-command/tasks.md
Due: none

Implement prune command for merged worktree cleanup
  cmd/prune.go
  cmd/root.go
  internal/application/interfaces.go
  internal/domain/config.go
  internal/domain/config_test.go
  internal/domain/service_errors.go
  internal/domain/service_errors_test.go
  internal/domain/service_requests.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/git_client.go
  internal/infrastructure/interfaces.go
  internal/service/worktree_service.go
  internal/service/worktree_service_test.go
  test/e2e/fixtures/context_helper.go
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/helpers/cli_helper.go
  test/e2e/prune_test.go
  test/integration/cli_commands_test.go
  test/integration/prune_integration_test.go
  test/mocks/cmd_mocks.go
  test/mocks/git_service_mock.go
Due: goreleaser-dry-run

Document prune command and update change artifacts
  README.md
  cmd/AGENTS.md
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/infrastructure/AGENTS.md
  openspec/changes/prune-command/design.md
  openspec/changes/prune-command/tasks.md
Due: goreleaser-dry-run

Add E2E tests for prune command navigation output
  openspec/changes/prune-command/tasks.md
  test/e2e/prune_test.go
Due: none

Archive prune-command change and sync specs to main
  openspec/changes/archive/2026-02-13-prune-command/.openspec.yaml
  openspec/changes/archive/2026-02-13-prune-command/design.md
  openspec/changes/archive/2026-02-13-prune-command/proposal.md
  openspec/changes/archive/2026-02-13-prune-command/specs/branch-deletion/spec.md
  openspec/changes/archive/2026-02-13-prune-command/specs/worktree-management/spec.md
  openspec/changes/archive/2026-02-13-prune-command/specs/worktree-pruning/spec.md
  openspec/changes/archive/2026-02-13-prune-command/tasks.md
  openspec/specs/branch-deletion/spec.md
  openspec/specs/worktree-management/spec.md
  openspec/specs/worktree-pruning/spec.md
Due: none

Fix error handling for wrapped errors and missing trailing newlines
  cmd/error_formatter.go
  cmd/error_handler.go
Due: goreleaser-dry-run

Remove unused domain types and improve error handling
  internal/domain/AGENTS.md
  internal/domain/interfaces.go
  internal/domain/project.go
  internal/domain/project_test.go
  internal/domain/service_errors.go
  internal/domain/service_errors_test.go
  internal/domain/shell.go
  internal/domain/shell_test.go
  internal/domain/worktree.go
  internal/domain/worktree_test.go
  internal/infrastructure/context_resolver.go
  internal/service/navigation_service.go
  internal/service/worktree_service.go
Due: goreleaser-dry-run

Add IsNotFound helpers and LRU cache for git repositories
  cmd/delete.go
  go.mod
  go.sum
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/service_errors.go
  internal/domain/service_errors_test.go
  internal/infrastructure/gogit_client.go
Due: goreleaser-dry-run

Harden path traversal protection against URL encoding and symlinks
  internal/domain/validation.go
  internal/domain/validation_test.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/context_resolver_test.go
  internal/infrastructure/pathutils.go
  internal/infrastructure/pathutils_test.go
  internal/service/worktree_service.go
  test/integration/path_utilities_test.go
Due: goreleaser-dry-run

Encapsulate git operations in WorktreeService layer
  cmd/create.go
  cmd/create_test.go
  cmd/delete.go
  cmd/delete_test.go
  cmd/root.go
  internal/application/interfaces.go
  internal/service/worktree_service.go
  main.go
  test/integration/cli_commands_test.go
  test/mocks/cmd_mocks.go
Due: goreleaser-dry-run

Add context detection caching and lightweight project listing
  internal/application/interfaces.go
  internal/domain/service_results.go
  internal/infrastructure/context_detector.go
  internal/service/project_service.go
  internal/service/worktree_service.go
  internal/service/worktree_service_test.go
  test/integration/prune_integration_test.go
  test/mocks/cmd_mocks.go
Due: goreleaser-dry-run

Refactor context resolution and extract shared utilities
  internal/infrastructure/context_resolver.go
  internal/infrastructure/interfaces.go
  internal/infrastructure/pathutils.go
  internal/infrastructure/pathutils_test.go
  internal/infrastructure/shell_infra.go
  internal/service/project_service.go
  internal/service/shell_service.go
  internal/service/shell_service_test.go
  internal/service/worktree_service.go
  test/mocks/shell_infrastructure_mock.go
Due: goreleaser-dry-run

Add GitUtils test coverage and consolidate mock usage
  internal/infrastructure/command_executor.go
  internal/infrastructure/command_executor_mock_test.go
  internal/infrastructure/git_utils_test.go
  internal/infrastructure/pathutils.go
  test/integration/prune_integration_test.go
Due: goreleaser-dry-run

Add ConfigError type and use typed error detection
  cmd/error_handler.go
  cmd/error_handler_test.go
  internal/domain/errors.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/config_manager.go
Due: goreleaser-dry-run

Update AGENTS.md documentation to reflect codebase refactoring
  cmd/AGENTS.md
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/infrastructure/AGENTS.md
  internal/service/AGENTS.md
  test/AGENTS.md
  test/integration/AGENTS.md
Due: goreleaser-dry-run

Add Go formatting and linting hooks to pre-commit config
  .pre-commit-config.yaml
Due: none

Restructure OpenSpec documentation to AI-guided workflows
  .opencode/command/opsx-changelog.md
  .opencode/command/opsx-concepts.md
  .opencode/command/opsx-maintain-docs.md
  .opencode/command/opsx-modify.md
  .opencode/command/opsx-review.md
  .opencode/command/opsx-verify-tests.md
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-concepts/references/artifact-formats.md
  .opencode/skills/openspec-concepts/references/change-guidance.md
  .opencode/skills/openspec-concepts/references/cli-reference.md
  .opencode/skills/openspec-concepts/references/opsx-lifecycle.md
  .opencode/skills/openspec-generate-changelog/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/references/doc-structures.md
  .opencode/skills/openspec-maintain-ai-docs/references/update-examples.md
  .opencode/skills/openspec-maintain-ai-docs/references/update-rules.md
  .opencode/skills/openspec-modify-artifact/SKILL.md
  .opencode/skills/openspec-modify-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/references/common-issues.md
  .opencode/skills/openspec-review-artifacts/references/review-criteria.md
  .opencode/skills/openspec-review-test-compliance/SKILL.md
  .opencode/skills/openspec-review-test-compliance/references/semantic-extraction.md
  AGENTS.md
  README.md
  internal/application/AGENTS.md
  internal/service/AGENTS.md
  openspec/config.yaml
  test/integration/AGENTS.md
  test/mocks/AGENTS.md
Due: goreleaser-dry-run

Add OpenSpec change for Carapace shell completion
  openspec/changes/add-shell-completion/.openspec.yaml
  openspec/changes/add-shell-completion/design.md
  openspec/changes/add-shell-completion/proposal.md
  openspec/changes/add-shell-completion/specs/path-resolution/spec.md
  openspec/changes/add-shell-completion/specs/shell-completion/spec.md
  openspec/changes/add-shell-completion/tasks.md
Due: none

Amend OpenSpec artifacts after review
  openspec/changes/add-shell-completion/design.md
  openspec/changes/add-shell-completion/proposal.md
  openspec/changes/add-shell-completion/specs/path-resolution/spec.md
  openspec/changes/add-shell-completion/specs/shell-completion/spec.md
  openspec/changes/add-shell-completion/tasks.md
Due: none

Add Carapace integration and functional options for shell completion
  cmd/root.go
  go.mod
  go.sum
  internal/application/interfaces.go
  internal/domain/context.go
  internal/infrastructure/context_resolver.go
  internal/service/context_service.go
  openspec/changes/add-shell-completion/tasks.md
  test/mocks/mock_context_resolver.go
Due: goreleaser-dry-run

Add Carapace completion actions and wire to commands
  cmd/cd.go
  cmd/completion.go
  cmd/create.go
  cmd/delete.go
  cmd/prune.go
  openspec/changes/add-shell-completion/tasks.md
Due: goreleaser-dry-run

Consolidate version package into cmd layer
  .goreleaser.yml
  .mise/config.toml
  cmd/version.go
  internal/version/version.go
  openspec/changes/add-shell-completion/tasks.md
Due: build-ci-image, goreleaser-dry-run

Add tests for shell completion features
  cmd/root.go
  cmd/shell_completion.go
  internal/domain/context.go
  internal/domain/context_test.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/context_resolver_test.go
  internal/service/context_service_test.go
  internal/service/navigation_service_test.go
  openspec/changes/add-shell-completion/tasks.md
  test/integration/cli_commands_test.go
  test/integration/project_discovery_test.go
  test/mocks/cmd_mocks.go
Due: goreleaser-dry-run

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*
