Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*

Add Carapace integration and build metadata
  .mise/config.toml
  cmd/shell_completion.go
  internal/infrastructure/context_resolver.go
  openspec/changes/add-shell-completion/tasks.md
Due: build-ci-image, goreleaser-dry-run

Add configurable completion timeout and remove completion command
  cmd/completion.go
  cmd/root.go
  cmd/root_test.go
  cmd/shell_completion.go
  internal/domain/config.go
  internal/infrastructure/config_manager.go
  openspec/changes/add-shell-completion/design.md
  openspec/changes/add-shell-completion/proposal.md
  openspec/changes/add-shell-completion/tasks.md
  test/integration/cli_commands_test.go
Due: goreleaser-dry-run

Fix branch description tagging in shell completion
  cmd/completion.go
  cmd/completion_test.go
  internal/infrastructure/context_resolver_test.go
  test/integration/project_discovery_test.go
Due: goreleaser-dry-run

Sync shell completion specs from change to main
  openspec/specs/path-resolution/spec.md
  openspec/specs/shell-completion/spec.md
Due: none

Archive completed shell-completion change
  openspec/changes/archive/2026-02-16-add-shell-completion/.openspec.yaml
  openspec/changes/archive/2026-02-16-add-shell-completion/design.md
  openspec/changes/archive/2026-02-16-add-shell-completion/proposal.md
  openspec/changes/archive/2026-02-16-add-shell-completion/specs/path-resolution/spec.md
  openspec/changes/archive/2026-02-16-add-shell-completion/specs/shell-completion/spec.md
  openspec/changes/archive/2026-02-16-add-shell-completion/tasks.md
Due: none

Add shell completion documentation to AGENTS.md files
  cmd/AGENTS.md
  internal/domain/AGENTS.md
  internal/infrastructure/AGENTS.md
Due: goreleaser-dry-run

Add OpenSpec Foundation section to AGENTS.md
  AGENTS.md
Due: none

Update OpenSpec-extended skills to v0.3.1
  .opencode/scripts/openspec-auto
  .opencode/scripts/prompt-template.md
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-concepts/references/anti-patterns.md
  .opencode/skills/openspec-concepts/references/artifact-formats.md
  .opencode/skills/openspec-concepts/references/change-guidance.md
  .opencode/skills/openspec-concepts/references/cli-reference.md
  .opencode/skills/openspec-concepts/references/opsx-lifecycle.md
  .opencode/skills/openspec-generate-changelog/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-modify-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-test-compliance/SKILL.md
Due: none

Update dependencies across test, config, and git packages
  .mise/config.toml
  go.mod
  go.sum
Due: build-ci-image, goreleaser-dry-run

Fix duplicate brackets in shell wrapper template
  internal/infrastructure/shell_infra.go
  internal/infrastructure/shell_infra_test.go
Due: goreleaser-dry-run

Fix completion command to delegate to Carapace
  cmd/AGENTS.md
  cmd/completion_cmd.go
  cmd/root.go
  cmd/suggestions.go
  internal/infrastructure/shell_infra.go
  openspec/specs/shell-completion/spec.md
  openspec/specs/shell-init/spec.md
  test/integration/cli_commands_test.go
Due: goreleaser-dry-run

Optimize GitLab CI pipeline to prevent duplicate runs
  .gitlab-ci.yml
Due: none

Review and iterate artifacts for add-worktree-hooks
  openspec/changes/add-worktree-hooks/specs/worktree-management/spec.md
Due: none

Add post-create hook execution for worktree setup
  cmd/create.go
  cmd/create_test.go
  internal/application/interfaces.go
  internal/domain/hook_types.go
  internal/domain/service_results.go
  internal/infrastructure/hook_runner.go
  internal/infrastructure/interfaces.go
  internal/service/worktree_service.go
  internal/service/worktree_service_test.go
  main.go
  openspec/changes/add-worktree-hooks/tasks.md
  test/integration/cli_commands_test.go
  test/integration/prune_integration_test.go
  test/mocks/cmd_mocks.go
Due: goreleaser-dry-run

Archive add-worktree-hooks change and sync delta specs to main
  openspec/changes/add-worktree-hooks/.openspec.yaml
  openspec/changes/archive/2026-02-17-add-worktree-hooks/design.md
  openspec/changes/archive/2026-02-17-add-worktree-hooks/proposal.md
  openspec/changes/archive/2026-02-17-add-worktree-hooks/specs/worktree-hooks/spec.md
  openspec/changes/archive/2026-02-17-add-worktree-hooks/specs/worktree-management/spec.md
  openspec/changes/archive/2026-02-17-add-worktree-hooks/tasks.md
  openspec/specs/worktree-hooks/spec.md
  openspec/specs/worktree-management/spec.md
Due: none

Add OpenSpec change for worktree post-create hooks
  openspec/changes/add-worktree-hooks/.openspec.yaml
  openspec/changes/add-worktree-hooks/design.md
  openspec/changes/add-worktree-hooks/proposal.md
  openspec/changes/add-worktree-hooks/specs/worktree-hooks/spec.md
  openspec/changes/add-worktree-hooks/specs/worktree-management/spec.md
  openspec/changes/add-worktree-hooks/tasks.md
Due: none

Add graceful interrupt handling and automatic phase transitions to OpenSpec autonomous workflow
  .gitignore
  .opencode/scripts/openspec-auto
  .opencode/scripts/prompt-template.md
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-generate-changelog/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-modify-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-test-compliance/SKILL.md
Due: none

Add tests and documentation for post-create hooks
  README.md
  internal/infrastructure/hook_runner.go
  internal/infrastructure/hook_runner_test.go
  openspec/changes/add-worktree-hooks/tasks.md
  test/e2e/create_test.go
  test/integration/hook_runner_test.go
Due: goreleaser-dry-run

Add E2E tests for create command error scenarios
  openspec/changes/add-worktree-hooks/tasks.md
  test/e2e/create_test.go
Due: none

Document post-create hook system in AGENTS.md files
  AGENTS.md
  cmd/AGENTS.md
  internal/domain/AGENTS.md
  internal/infrastructure/AGENTS.md
  internal/service/AGENTS.md
Due: goreleaser-dry-run

Fix golangci-lint for E2E build tags and resolve testifylint violations
  .golangci.yml
  test/integration/git_clients_test.go
  test/integration/git_routing_test.go
  test/integration/path_utilities_test.go
  test/integration/project_discovery_test.go
  test/integration/prune_integration_test.go
Due: none

Rename completion_cmd.go to completion.go
  cmd/completion.go
Due: goreleaser-dry-run

Add post-create hook for mise trust in worktrees
  .twiggit.toml
Due: none

Extend tool version check scripts to cover all mise tools
  .mise/config.toml
  .mise/tasks/tools/check.sh
  .mise/tasks/tools/update.sh
Due: build-ci-image

Remove build:local dependency from check task
  .mise/config.toml
Due: build-ci-image

Update OpenSpec-extended to 0.13.2
  .gitignore
  .opencode/agents/openspec-analyzer.md
  .opencode/agents/openspec-builder.md
  .opencode/agents/openspec-maintainer.md
  .opencode/commands/openspec-phase0.md
  .opencode/commands/openspec-phase1.md
  .opencode/commands/openspec-phase2.md
  .opencode/commands/openspec-phase3.md
  .opencode/commands/openspec-phase4.md
  .opencode/commands/openspec-phase5.md
  .opencode/commands/openspec-phase6.md
  .opencode/commands/opsx-changelog.md
  .opencode/commands/opsx-maintain-docs.md
  .opencode/commands/opsx-modify.md
  .opencode/commands/opsx-review.md
  .opencode/commands/opsx-verify-tests.md
  .opencode/manifest.json
  .opencode/scripts/lib/osc-baseline
  .opencode/scripts/lib/osc-common
  .opencode/scripts/lib/osc-complete
  .opencode/scripts/lib/osc-ctx
  .opencode/scripts/lib/osc-git
  .opencode/scripts/lib/osc-iterations
  .opencode/scripts/lib/osc-log
  .opencode/scripts/lib/osc-phase
  .opencode/scripts/lib/osc-state
  .opencode/scripts/lib/osc-validate
  .opencode/scripts/openspec-auto
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-generate-changelog/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-modify-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/references/review-criteria.md
  .opencode/skills/openspec-review-test-compliance/SKILL.md
Due: none

Refactor pre-commit hooks to use direct tool invocation
  .pre-commit-config.yaml
Due: none

Add OpenSpec change for init command stdout mode
  openspec/changes/init-stdout-mode/.openspec.yaml
  openspec/changes/init-stdout-mode/design.md
  openspec/changes/init-stdout-mode/proposal.md
  openspec/changes/init-stdout-mode/specs/shell-init/spec.md
  openspec/changes/init-stdout-mode/tasks.md
Due: none

Sync init-stdout-mode specs to main
  openspec/specs/shell-init/spec.md
Due: none

Update cmd/AGENTS.md for init stdout mode refactor
  cmd/AGENTS.md
Due: goreleaser-dry-run

Refactor init command to output shell wrapper to stdout by default
  cmd/init.go
  cmd/init_test.go
  internal/domain/shell_requests.go
  internal/domain/shell_results.go
  internal/service/shell_service.go
  internal/service/shell_service_test.go
  openspec/changes/init-stdout-mode/tasks.md
  test/e2e/init_test.go
Due: goreleaser-dry-run

Archive change init-stdout-mode
  openspec/changes/archive/2026-03-12-init-stdout-mode/.openspec.yaml
  openspec/changes/archive/2026-03-12-init-stdout-mode/decision-log.json
  openspec/changes/archive/2026-03-12-init-stdout-mode/decision_log.json
  openspec/changes/archive/2026-03-12-init-stdout-mode/design.md
  openspec/changes/archive/2026-03-12-init-stdout-mode/iterations.json
  openspec/changes/archive/2026-03-12-init-stdout-mode/openspec-auto.log
  openspec/changes/archive/2026-03-12-init-stdout-mode/proposal.md
  openspec/changes/archive/2026-03-12-init-stdout-mode/reflections.md
  openspec/changes/archive/2026-03-12-init-stdout-mode/specs/shell-init/spec.md
  openspec/changes/archive/2026-03-12-init-stdout-mode/tasks.md
  openspec/changes/archive/2026-03-12-init-stdout-mode/verification-report.md
Due: none

Review and iterate artifacts for init-stdout-mode
  openspec/changes/init-stdout-mode/tasks.md
Due: none

Add shell plugins for zsh, bash, and fish integration
  README.md
  contrib/bash/README.md
  contrib/bash/twiggit.bash
  contrib/fish/README.md
  contrib/fish/twiggit.fish
  contrib/zsh/README.md
  contrib/zsh/twiggit.plugin.zsh
Due: none

Add OpenSpec change for test coverage improvements
  openspec/changes/test-coverage/design.md
  openspec/changes/test-coverage/proposal.md
  openspec/changes/test-coverage/specs/concurrent-operations/spec.md
  openspec/changes/test-coverage/specs/edge-case-fixtures/spec.md
  openspec/changes/test-coverage/specs/main-entry-point/spec.md
  openspec/changes/test-coverage/specs/test-helpers/spec.md
  openspec/changes/test-coverage/tasks.md
Due: none

Review and iterate artifacts for test-coverage
  openspec/changes/test-coverage/proposal.md
  openspec/changes/test-coverage/specs/test-helpers/spec.md
Due: none

Add main package and concurrent operation tests
  main_test.go
  openspec/changes/test-coverage/tasks.md
  test/concurrent/concurrent_test.go
Due: none

Add comprehensive helpers test coverage
  openspec/changes/test-coverage/tasks.md
  test/helpers/helpers_test.go
  test/helpers/worktree_coverage_test.go
Due: none

Fix tasks.md status and add verification report for test-coverage
  openspec/changes/test-coverage/tasks.md
  openspec/changes/test-coverage/verification-report.md
  scripts/fixtures/corrupted.sh
  scripts/fixtures/detached.sh
  scripts/fixtures/submodule.sh
  scripts/generate-repo-fixtures.sh
  test/e2e/edge_case_test.go
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/fixtures/repos/bare-main.tar.gz
  test/e2e/fixtures/repos/corrupted.tar.gz
  test/e2e/fixtures/repos/detached.tar.gz
  test/e2e/fixtures/repos/multi-branch.tar.gz
  test/e2e/fixtures/repos/single-branch.tar.gz
  test/e2e/fixtures/repos/submodule.tar.gz
Due: none
