Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/twiggit/ci
  before_script:
  - apk add --no-cache curl
  ...

goreleaser-dry-run:
  stage: validate
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  script:
  - goreleaser release --snapshot --skip-publish --clean

Apply linter fixes and code quality improvements
  .golangci.yml
  .mise/tasks/ci/coverage.sh
  cmd/create_test.go
  cmd/error_formatter.go
  cmd/error_handler.go
  cmd/root.go
  cmd/setup-shell.go
  cmd/version.go
  internal/domain/config.go
  internal/domain/service_errors.go
  internal/domain/validators_test.go
  internal/services/worktree_service_test.go
  internal/version/version.go
  test/e2e/config.test.toml
Due: goreleaser-dry-run

Add path traversal protection to context resolver
  internal/infrastructure/context_resolver.go
  internal/infrastructure/context_resolver_test.go
Due: goreleaser-dry-run

Add merged-only, change-dir, and keep-branch flags to delete command
  cmd/delete.go
  cmd/delete_test.go
  internal/domain/service_requests.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/git_client.go
  internal/infrastructure/interfaces.go
  internal/services/worktree_service.go
  test/mocks/git_service_mock.go
Due: goreleaser-dry-run

Remove global state and replace panics with errors
  cmd/root.go
  cmd/root_test.go
  internal/domain/config.go
  internal/infrastructure/config_manager.go
  internal/infrastructure/config_manager_test.go
  main.go
Due: goreleaser-dry-run

Refactor testing infrastructure and reduce coverage threshold
  .gitlab-ci.yml
  .mise/config.toml
  .mise/tasks/ci/coverage.sh
Due: build-ci-image

Add branch name validation for reserved names and edge cases
  cmd/create.go
  internal/domain/interfaces.go
  internal/domain/validation.go
  internal/domain/validators_test.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/context_detector.go
  internal/service/context_service.go
  internal/service/git_service.go
  internal/services/navigation_service.go
  internal/services/project_service.go
  internal/services/project_service_test.go
  internal/services/shell_service_test.go
  internal/services/worktree_service.go
  test/e2e/create_test.go
  test/e2e/delete_test.go
  test/integration/service_integration_test.go
Due: goreleaser-dry-run

Fix e2e test infrastructure
  .mise/config.toml
  test/e2e/helpers/cli_helper.go
Due: build-ci-image

Fix E2E infrastructure reliability and add debugging support
  test/e2e/.ginkgoignore
  test/e2e/README.md
  test/e2e/cd_test.go
  test/e2e/cmd/help_test.go
  test/e2e/create_test.go
  test/e2e/delete_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/error_presentation_test.go
  test/e2e/fixtures/context_helper.go
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/global_cli_test.go
  test/e2e/help_test.go
  test/e2e/helpers/assertions.go
  test/e2e/helpers/cli_helper.go
  test/e2e/helpers/config_helper.go
  test/e2e/helpers/test_id_generator.go
  test/e2e/infrastructure_verification_test.go
  test/e2e/list_test.go
  test/e2e/setup_shell_test.go
  test/helpers/worktree.go
Due: none

Restructure E2E test suite with organized test suites and expanded coverage
  test/e2e/.ginkgoignore
  test/e2e/cmd/cd_test.go
  test/e2e/cmd/cmd_suite_test.go
  test/e2e/cmd/create_test.go
  test/e2e/cmd/delete_test.go
  test/e2e/cmd/help_test.go
  test/e2e/cmd/list_test.go
  test/e2e/cmd/setup_shell_test.go
  test/e2e/cmd/version_test.go
  test/e2e/context/context_suite_test.go
  test/e2e/context/context_test.go
  test/e2e/edge_cases_test.go
  test/e2e/error_presentation_test.go
  test/e2e/fixtures/context_helper.go
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/helpers/cli_helper.go
  test/e2e/infrastructure_verification_test.go
  test/e2e/workflows/branch_preserve_test.go
  test/e2e/workflows/cleanup_test.go
  test/e2e/workflows/feature_lifecycle_test.go
  test/e2e/workflows/force_workflow_test.go
  test/e2e/workflows/hotfix_workflow_test.go
  test/e2e/workflows/multi_project_test.go
  test/e2e/workflows/rebase_workflow_test.go
  test/e2e/workflows/workflows_suite_test.go
Due: none

Restructure E2E test packages into separate suites
  .mise/config.toml
  test/e2e/cmd/cd_test.go
  test/e2e/cmd/cmd_suite_test.go
  test/e2e/cmd/create_test.go
  test/e2e/cmd/delete_test.go
  test/e2e/cmd/help_test.go
  test/e2e/cmd/list_test.go
  test/e2e/cmd/setup_shell_test.go
  test/e2e/cmd/version_test.go
  test/e2e/context/context_suite_test.go
  test/e2e/context/context_test.go
  test/e2e/workflows/branch_preserve_test.go
  test/e2e/workflows/cleanup_test.go
  test/e2e/workflows/feature_lifecycle_test.go
  test/e2e/workflows/force_workflow_test.go
  test/e2e/workflows/hotfix_workflow_test.go
  test/e2e/workflows/multi_project_test.go
  test/e2e/workflows/rebase_workflow_test.go
  test/e2e/workflows/workflows_suite_test.go
Due: build-ci-image

Refactor E2E test infrastructure to use pre-built git repository archives
  scripts/fixtures/bare-main.sh
  scripts/fixtures/multi-branch.sh
  scripts/fixtures/single-branch.sh
  scripts/generate-repo-fixtures.sh
  test/e2e/fixtures/AGENTS.md
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/fixtures/repo_fixture.go
  test/e2e/helpers/test_id_generator.go
Due: none

Remove keep-branch flag from delete command
  cmd/delete.go
  cmd/delete_test.go
  internal/domain/service_requests.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/git_client.go
  internal/infrastructure/interfaces.go
  internal/service/git_service.go
  internal/services/worktree_service.go
  test/e2e/cmd/delete_test.go
  test/e2e/workflows/branch_preserve_test.go
  test/mocks/git_service_mock.go
Due: goreleaser-dry-run

Replace emoji formatting with plain text in error messages
  cmd/error_formatter.go
  cmd/error_formatter_test.go
  cmd/setup-shell.go
Due: goreleaser-dry-run

Add debug logging to worktree creation
  cmd/create.go
Due: goreleaser-dry-run

Refactor E2E test infrastructure with repo fixtures and test ID normalization
  cmd/create_test.go
  cmd/list_test.go
  test/e2e/cmd/create_test.go
  test/e2e/cmd/list_test.go
  test/e2e/edge_cases_test.go
  test/e2e/error_presentation_test.go
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/fixtures/repo_fixture.go
  test/e2e/fixtures/repos/bare-main.tar.gz
  test/e2e/fixtures/repos/multi-branch.tar.gz
  test/e2e/fixtures/repos/single-branch.tar.gz
  test/e2e/helpers/config_helper.go
  test/e2e/helpers/test_id_generator.go
  test/e2e/workflows/cleanup_test.go
  test/e2e/workflows/feature_lifecycle_test.go
  test/e2e/workflows/hotfix_workflow_test.go
  test/e2e/workflows/rebase_workflow_test.go
  test/integration/service_integration_test.go
Due: goreleaser-dry-run

Add ListAllProjects support to list command
  cmd/list.go
  internal/domain/service_requests.go
  internal/services/worktree_service.go
  test/e2e/cmd/cd_test.go
  test/e2e/cmd/create_test.go
  test/e2e/cmd/delete_test.go
  test/e2e/cmd/list_test.go
  test/e2e/context/context_test.go
Due: goreleaser-dry-run

Refactor CreateWorktreeSetup to return branch names
  test/e2e/fixtures/e2e_fixtures.go
Due: none

Fix delete test assertions and config setup
  test/e2e/cmd/delete_test.go
Due: none

Refactor workflow test setup into BeforeEach
  test/e2e/cmd/delete_test.go
  test/e2e/helpers/cli_helper.go
  test/e2e/workflows/feature_lifecycle_test.go
  test/e2e/workflows/hotfix_workflow_test.go
  test/e2e/workflows/multi_project_test.go
  test/e2e/workflows/rebase_workflow_test.go
Due: none

Fix worktree listing and refactor test infrastructure
  internal/infrastructure/cli_client.go
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/gogit_client.go
  internal/services/worktree_service.go
  internal/services/worktree_service_test.go
  test/e2e/cd_test.go
  test/e2e/cmd/cmd_suite_test.go
  test/e2e/cmd/create_test.go
  test/e2e/cmd/delete_test.go
  test/e2e/context/context_suite_test.go
  test/e2e/context/context_test.go
  test/e2e/create_test.go
  test/e2e/delete_test.go
  test/e2e/edge_cases_test.go
  test/e2e/error_presentation_test.go
  test/e2e/fixtures/e2e_fixtures.go
  test/e2e/fixtures/repo_fixture.go
  test/e2e/fixtures/repos/bare-main.tar.gz
  test/e2e/help_test.go
  test/e2e/helpers/assertions.go
  test/e2e/helpers/cli_helper.go
  test/e2e/helpers/config_helper.go
  test/e2e/helpers/test_id_generator.go
  test/e2e/list_test.go
  test/e2e/setup_shell_test.go
  test/e2e/test_panic_check.sh
  test/e2e/version_test.go
  test/e2e/workflows/branch_preserve_test.go
  test/e2e/workflows/cleanup_test.go
  test/e2e/workflows/feature_lifecycle_test.go
  test/e2e/workflows/force_workflow_test.go
  test/e2e/workflows/hotfix_workflow_test.go
  test/e2e/workflows/multi_project_test.go
  test/e2e/workflows/rebase_workflow_test.go
  test/e2e/workflows/workflows_suite_test.go
Due: goreleaser-dry-run

Add HTML and XML coverage reports
  .gitlab-ci.yml
  .mise/tasks/ci/coverage.sh
  cmd/create.go
Due: goreleaser-dry-run

Remove race tests from CI
  .gitlab-ci.yml
Due: none

Remove temporary test panic check script
  test/e2e/test_panic_check.sh
Due: none

Add OpenSpec workflow commands
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-continue.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-new.md
  .opencode/command/opsx-onboard.md
  .opencode/command/opsx-sync.md
  .opencode/command/opsx-verify.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
  openspec/config.yaml
Due: none

Add OpenSpec configuration with project context and artifact rules
  openspec/config.yaml
Due: none

Add OpenSpec specifications for twiggit core features
  openspec/specs/context-detection/spec.md
  openspec/specs/path-resolution/spec.md
  openspec/specs/project-discovery/spec.md
  openspec/specs/shell-integration/spec.md
  openspec/specs/worktree-management/spec.md
Due: none

Remove centralized .ai/ documentation directory
  .ai/README.md
  .ai/code-style-guide.md
  .ai/design.md
  .ai/documentation-design.md
  .ai/implementation.md
  .ai/plans/01-foundation.md
  .ai/plans/02-configuration.md
  .ai/plans/03-context-detection.md
  .ai/plans/04-git.md
  .ai/plans/05-core-services.md
  .ai/plans/06-cli-commands.md
  .ai/plans/07-shell-integration.md
  .ai/plans/08-testing-infrastructure.md
  .ai/plans/09-performance-optimization.md
  .ai/plans/10-final-integration.md
  .ai/plans/README.md
  .ai/technology.md
  .ai/testing.md
Due: none

Restructure AGENTS.md into location-specific guides
  AGENTS.md
  cmd/AGENTS.md
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/infrastructure/AGENTS.md
  internal/services/AGENTS.md
  test/e2e/AGENTS.md
  test/e2e/fixtures/AGENTS.md
  test/helpers/AGENTS.md
  test/integration/AGENTS.md
Due: goreleaser-dry-run

Add HOME environment isolation for shell tests
  AGENTS.md
  go.mod
  internal/infrastructure/shell/service_test.go
  test/e2e/setup_shell_test.go
Due: goreleaser-dry-run

Add interactive installation with shell completions
  README.md
  install.sh
Due: none

Add pre-commit hooks with worktree automation
  .gitignore
  .mise/config.toml
  .pre-commit-config.yaml
Due: build-ci-image

Rename setup-shell to init command
  cmd/init.go
  cmd/init_test.go
  cmd/root.go
  cmd/setup-shell.go
  cmd/setup-shell_test.go
  install.sh
  openspec/changes/rename-setup-shell-to-init/tasks.md
  test/e2e/init_test.go
  test/e2e/setup_shell_test.go
  test/integration/cli_commands_test.go
  test/integration/service_integration_test.go
Due: goreleaser-dry-run

Add OpenSpec change artifacts for shell init refactoring
  openspec/changes/rename-setup-shell-to-init/.openspec.yaml
  openspec/changes/rename-setup-shell-to-init/design.md
  openspec/changes/rename-setup-shell-to-init/proposal.md
  openspec/changes/rename-setup-shell-to-init/specs/shell-init/spec.md
  openspec/changes/rename-setup-shell-to-init/specs/shell-integration/spec.md
  openspec/changes/rename-setup-shell-to-init/tasks.md
Due: none

Sync and archive 'rename-setup-shell-to-init' openspec change
  openspec/changes/archive/2026-02-10-rename-setup-shell-to-init/.openspec.yaml
  openspec/changes/archive/2026-02-10-rename-setup-shell-to-init/design.md
  openspec/changes/archive/2026-02-10-rename-setup-shell-to-init/proposal.md
  openspec/changes/archive/2026-02-10-rename-setup-shell-to-init/specs/shell-init/spec.md
  openspec/changes/archive/2026-02-10-rename-setup-shell-to-init/specs/shell-integration/spec.md
  openspec/changes/archive/2026-02-10-rename-setup-shell-to-init/tasks.md
  openspec/specs/shell-init/spec.md
  openspec/specs/shell-integration/spec.md
Due: none

Add config file path support and wrapper block management
  internal/domain/shell.go
  internal/domain/shell_errors.go
  internal/domain/shell_requests.go
  internal/domain/shell_test.go
  internal/infrastructure/interfaces.go
  internal/infrastructure/shell/service.go
  internal/infrastructure/shell/service_test.go
  internal/services/shell_service.go
  internal/services/shell_service_test.go
Due: goreleaser-dry-run

Add shell auto-detection to init command
  README.md
  cmd/AGENTS.md
  cmd/init.go
  cmd/init_test.go
  install.sh
  internal/domain/AGENTS.md
  internal/domain/shell.go
  internal/domain/shell_errors.go
  internal/domain/shell_test.go
  internal/infrastructure/AGENTS.md
  internal/services/AGENTS.md
  internal/services/shell_service.go
  internal/services/shell_service_test.go
  openspec/specs/shell-init/spec.md
  openspec/specs/shell-integration/spec.md
  test/e2e/init_test.go
Due: goreleaser-dry-run

Add OpenSpec for structured CLI verbose output
  openspec/changes/add-verbose-output/.openspec.yaml
  openspec/changes/add-verbose-output/design.md
  openspec/changes/add-verbose-output/proposal.md
  openspec/changes/add-verbose-output/specs/verbose-output/spec.md
  openspec/changes/add-verbose-output/tasks.md
Due: none

Add verbose output flags to CLI commands
  cmd/AGENTS.md
  cmd/cd.go
  cmd/create.go
  cmd/delete.go
  cmd/init.go
  cmd/list.go
  cmd/root.go
  cmd/util.go
  internal/services/worktree_service.go
  openspec/changes/add-verbose-output/specs/verbose-output/spec.md
  openspec/changes/add-verbose-output/tasks.md
  test/e2e/AGENTS.md
  test/e2e/cd_test.go
  test/e2e/create_test.go
  test/e2e/delete_test.go
  test/e2e/helpers/cli_helper.go
  test/e2e/init_test.go
  test/e2e/list_test.go
Due: goreleaser-dry-run

Sync and archive 'add-verbose-output' OpenSpec change
  openspec/changes/archive/2026-02-11-add-verbose-output/.openspec.yaml
  openspec/changes/archive/2026-02-11-add-verbose-output/design.md
  openspec/changes/archive/2026-02-11-add-verbose-output/proposal.md
  openspec/changes/archive/2026-02-11-add-verbose-output/specs/verbose-output/spec.md
  openspec/changes/archive/2026-02-11-add-verbose-output/tasks.md
  openspec/specs/verbose-output/spec.md
Due: none

Update gitignore patterns for coverage files
  .gitignore
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*
