Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/twiggit/ci
  before_script:
  - apk add --no-cache curl
  ...

goreleaser-dry-run:
  stage: validate
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  script:
  - goreleaser release --snapshot --skip-publish --clean

Scaffold rebase-sync change with planning artifacts
  openspec/changes/rebase-sync/.openspec.yaml
  openspec/changes/rebase-sync/design.md
  openspec/changes/rebase-sync/proposal.md
  openspec/changes/rebase-sync/specs/cli-command-groups/spec.md
  openspec/changes/rebase-sync/specs/cli-rebase/spec.md
  openspec/changes/rebase-sync/specs/cli-sync/spec.md
  openspec/changes/rebase-sync/specs/core-errors/spec.md
  openspec/changes/rebase-sync/specs/core-git/spec.md
  openspec/changes/rebase-sync/specs/core-hook-types/spec.md
  openspec/changes/rebase-sync/specs/core-rebase/spec.md
  openspec/changes/rebase-sync/specs/git-config/spec.md
  openspec/changes/rebase-sync/specs/git-rebaser/spec.md
  openspec/changes/rebase-sync/tasks.md
Due: none

Implement rebase and sync commands
  .golangci.yml
  README.md
  cmd/AGENTS.md
  cmd/create.go
  cmd/create_test.go
  cmd/list_test.go
  cmd/race_lock_test.go
  cmd/rebase.go
  cmd/rebase_helpers.go
  cmd/rebase_helpers_test.go
  cmd/rebase_test.go
  cmd/root.go
  cmd/sync.go
  cmd/sync_helpers_test.go
  go.mod
  go.sum
  internal/config/manager.go
  internal/config/manager_test.go
  internal/core/config.go
  internal/core/errors.go
  internal/core/git.go
  internal/core/hook_types.go
  internal/core/hook_types_test.go
  internal/core/rebase.go
  internal/core/rebase_test.go
  internal/core/sentinels.go
  internal/git/client.go
  internal/git/client_test.go
  internal/git/errors.go
  internal/git/hook_runner.go
  internal/git/hook_runner_test.go
  internal/git/rebaser.go
  internal/git/rebaser_test.go
  test/e2e/rebase_test.go
  test/e2e/sync_test.go
  test/integration/rebase_test.go
  test/repo/repo.go
Due: goreleaser-dry-run

Tighten rebase-sync test coverage and complete tasks
  openspec/changes/rebase-sync/tasks.md
  test/e2e/rebase_test.go
  test/e2e/rebase_workflow_test.go
  test/integration/rebase_test.go
Due: none

Tighten rebase-sync coverage; refuse dirty worktrees unless --force
  cmd/AGENTS.md
  cmd/rebase.go
  cmd/rebase_helpers.go
  cmd/rebase_test.go
  cmd/sync_helpers_test.go
  internal/core/git_imports_test.go
  internal/core/rebase_test.go
  internal/core/sentinels_test.go
  internal/git/client.go
  internal/git/rebaser_test.go
  internal/git/routing_test.go
  test/integration/rebase_test.go
Due: goreleaser-dry-run

Document rebase-sync surface, sentinels, and tracked base
  AGENTS.md
Due: none

Sync rebase-sync delta specs into main specs
  openspec/specs/cli-command-groups/spec.md
  openspec/specs/cli-rebase/spec.md
  openspec/specs/cli-sync/spec.md
  openspec/specs/core-errors/spec.md
  openspec/specs/core-git/spec.md
  openspec/specs/core-hook-types/spec.md
  openspec/specs/core-rebase/spec.md
  openspec/specs/git-config/spec.md
  openspec/specs/git-rebaser/spec.md
Due: none

Archive rebase-sync change
  openspec/changes/archive/2026-10-06-rebase-sync/.openspec.yaml
  openspec/changes/archive/2026-10-06-rebase-sync/design.md
  openspec/changes/archive/2026-10-06-rebase-sync/proposal.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/cli-command-groups/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/cli-rebase/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/cli-sync/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/core-errors/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/core-git/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/core-hook-types/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/core-rebase/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/git-config/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/specs/git-rebaser/spec.md
  openspec/changes/archive/2026-10-06-rebase-sync/tasks.md
Due: none

Release v0.15.0
  CHANGELOG.md
Due: none

Fix completion subcommand positional validation
  cmd/completion.go
  cmd/completion_test.go
  test/e2e/completion_test.go
Due: goreleaser-dry-run

Cover all 10 completion shells in e2e tests
  test/e2e/completion_test.go
Due: none

Reject unsupported completion shells via ValidationError
  cmd/completion.go
  cmd/completion_test.go
  test/e2e/completion_test.go
Due: goreleaser-dry-run

Run golangci-lint once in mise verify
  .mise/config.toml
Due: build-ci-image

Release v0.15.1
  CHANGELOG.md
Due: none

Scaffold status command change with planning artifacts
  openspec/changes/add-status-command/.openspec.yaml
  openspec/changes/add-status-command/design.md
  openspec/changes/add-status-command/proposal.md
  openspec/changes/add-status-command/specs/cli-status/spec.md
  openspec/changes/add-status-command/specs/core-worktree-status/spec.md
  openspec/changes/add-status-command/tasks.md
Due: none

Bump Go toolchain to 1.27.2
  .mise/config.toml
  go.mod
  go.sum
Due: build-ci-image, goreleaser-dry-run

Add status command with per-worktree diagnostic view
  AGENTS.md
  README.md
  cmd/create.go
  cmd/create_test.go
  cmd/delete.go
  cmd/root.go
  cmd/status.go
  cmd/status_test.go
  internal/config/manager.go
  internal/config/manager_test.go
  internal/core/config.go
  internal/core/config_test.go
  internal/core/git.go
  internal/core/service_results.go
  internal/core/service_results_test.go
  internal/git/client.go
  internal/git/status.go
  internal/git/status_test.go
  test/e2e/status_test.go
  test/golden/errors/not_found_error.golden
  test/golden/status/default.golden
  test/golden/status/json.golden
  test/golden/status/plain.golden
  test/golden/status/skip-warning.golden
  test/golden/status/table.golden
  test/integration/status_test.go
Due: goreleaser-dry-run

Sync status delta specs into main specs
  openspec/AGENTS.md
  openspec/specs/cli-status/spec.md
  openspec/specs/core-worktree-status/spec.md
Due: none

Archive add-status-command change
  openspec/changes/add-status-command/tasks.md
  openspec/changes/archive/2026-10-10-add-status-command/.openspec.yaml
  openspec/changes/archive/2026-10-10-add-status-command/design.md
  openspec/changes/archive/2026-10-10-add-status-command/proposal.md
  openspec/changes/archive/2026-10-10-add-status-command/specs/cli-status/spec.md
  openspec/changes/archive/2026-10-10-add-status-command/specs/core-worktree-status/spec.md
  openspec/changes/archive/2026-10-10-add-status-command/tasks.md
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*
