Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/twiggit/ci
  before_script:
  - apk add --no-cache curl
  ...

goreleaser-dry-run:
  stage: validate
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  script:
  - goreleaser release --snapshot --skip-publish --clean

Archive change error-clarity
  openspec/changes/archive/2026-03-15-error-clarity/.openspec.yaml
  openspec/changes/archive/2026-03-15-error-clarity/decision-log.json
  openspec/changes/archive/2026-03-15-error-clarity/design.md
  openspec/changes/archive/2026-03-15-error-clarity/iterations.json
  openspec/changes/archive/2026-03-15-error-clarity/osx-orchestrate.log
  openspec/changes/archive/2026-03-15-error-clarity/proposal.md
  openspec/changes/archive/2026-03-15-error-clarity/reflections.md
  openspec/changes/archive/2026-03-15-error-clarity/specs/error-clarity/spec.md
  openspec/changes/archive/2026-03-15-error-clarity/suggestions.md
  openspec/changes/archive/2026-03-15-error-clarity/tasks.md
  openspec/changes/archive/2026-03-15-error-clarity/verification-report.md
Due: none

Sync error-clarity specs to main
  openspec/specs/error-clarity/spec.md
Due: none

Archive change output-scripting
  openspec/changes/archive/2026-03-16-output-scripting/.openspec.yaml
  openspec/changes/archive/2026-03-16-output-scripting/decision-log.json
  openspec/changes/archive/2026-03-16-output-scripting/design.md
  openspec/changes/archive/2026-03-16-output-scripting/iterations.json
  openspec/changes/archive/2026-03-16-output-scripting/osx-orchestrate.log
  openspec/changes/archive/2026-03-16-output-scripting/proposal.md
  openspec/changes/archive/2026-03-16-output-scripting/reflections.md
  openspec/changes/archive/2026-03-16-output-scripting/specs/command-flags/spec.md
  openspec/changes/archive/2026-03-16-output-scripting/specs/output-formats/spec.md
  openspec/changes/archive/2026-03-16-output-scripting/specs/progress-reporting/spec.md
  openspec/changes/archive/2026-03-16-output-scripting/specs/quiet-mode/spec.md
  openspec/changes/archive/2026-03-16-output-scripting/specs/verbose-output/spec.md
  openspec/changes/archive/2026-03-16-output-scripting/tasks.md
  openspec/changes/archive/2026-03-16-output-scripting/verification-report.md
Due: none

Fix E2E test failures from output-scripting change
  test/e2e/edge_case_test.go
  test/e2e/error_clarity_test.go
  test/e2e/helpers/cli_helper.go
  test/e2e/list_test.go
  test/e2e/prune_test.go
Due: none

Review and iterate artifacts for ergonomics-improvements
  openspec/changes/ergonomics-improvements/proposal.md
Due: none

Add command aliases and short flag for list
  cmd/delete.go
  cmd/list.go
Due: goreleaser-dry-run

Add --yes/-y flag to prune for auto-confirmation
  cmd/prune.go
Due: goreleaser-dry-run

Improve help text by removing duplicates and adding examples
  cmd/create.go
  cmd/init.go
Due: goreleaser-dry-run

Add E2E tests for ergonomics features
  test/e2e/delete_test.go
  test/e2e/help_test.go
  test/e2e/list_test.go
  test/e2e/prune_test.go
Due: none

Mark all ergonomics tasks as complete
  openspec/changes/ergonomics-improvements/tasks.md
Due: none

Update documentation for ergonomics-improvements
  AGENTS.md
  cmd/AGENTS.md
Due: goreleaser-dry-run

Sync ergonomics-improvements specs to main
  openspec/specs/command-aliases/spec.md
  openspec/specs/command-flags/spec.md
Due: none

Archive change ergonomics-improvements
  openspec/changes/archive/2026-03-16-ergonomics-improvements/.openspec.yaml
  openspec/changes/archive/2026-03-16-ergonomics-improvements/decision-log.json
  openspec/changes/archive/2026-03-16-ergonomics-improvements/design.md
  openspec/changes/archive/2026-03-16-ergonomics-improvements/iterations.json
  openspec/changes/archive/2026-03-16-ergonomics-improvements/osx-orchestrate.log
  openspec/changes/archive/2026-03-16-ergonomics-improvements/proposal.md
  openspec/changes/archive/2026-03-16-ergonomics-improvements/reflections.md
  openspec/changes/archive/2026-03-16-ergonomics-improvements/specs/command-aliases/spec.md
  openspec/changes/archive/2026-03-16-ergonomics-improvements/specs/command-flags/spec.md
  openspec/changes/archive/2026-03-16-ergonomics-improvements/tasks.md
  openspec/changes/archive/2026-03-16-ergonomics-improvements/verification-report.md
Due: none

Bump Go to 1.26.1 and development tool versions
  .mise/config.toml
Due: build-ci-image

Fix e2e tests to respect HOME and use explicit config paths
  .golangci.yml
  internal/infrastructure/command_executor.go
  internal/infrastructure/context_detector.go
  internal/infrastructure/shell_infra.go
  internal/service/worktree_service.go
  test/e2e/init_test.go
  test/e2e/version_test.go
Due: goreleaser-dry-run

Add change expand-env-vars-in-config for $HOME expansion
  openspec/changes/expand-env-vars-in-config/.openspec.yaml
  openspec/changes/expand-env-vars-in-config/design.md
  openspec/changes/expand-env-vars-in-config/proposal.md
  openspec/changes/expand-env-vars-in-config/specs/config-path-expansion/spec.md
  openspec/changes/expand-env-vars-in-config/tasks.md
Due: none

Add environment variable expansion in config paths
  internal/infrastructure/config_manager.go
  internal/infrastructure/config_manager_test.go
  openspec/changes/expand-env-vars-in-config/tasks.md
Due: goreleaser-dry-run

Update documentation for expand-env-vars-in-config
  internal/infrastructure/AGENTS.md
Due: goreleaser-dry-run

Sync expand-env-vars-in-config specs to main
  openspec/specs/config-path-expansion/spec.md
Due: none

Archive change expand-env-vars-in-config
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/.openspec.yaml
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/decision-log.json
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/design.md
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/iterations.json
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/osx-orchestrate.log
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/proposal.md
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/reflections.md
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/specs/config-path-expansion/spec.md
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/tasks.md
  openspec/changes/archive/2026-03-16-expand-env-vars-in-config/verification-report.md
Due: none

Add 5 OpenSpec changes for Go testing standards alignment
  openspec/changes/explicit-error-formatting/.openspec.yaml
  openspec/changes/explicit-error-formatting/design.md
  openspec/changes/explicit-error-formatting/proposal.md
  openspec/changes/explicit-error-formatting/specs/explicit-error-formatting/spec.md
  openspec/changes/explicit-error-formatting/tasks.md
  openspec/changes/golden-file-testing/.openspec.yaml
  openspec/changes/golden-file-testing/design.md
  openspec/changes/golden-file-testing/proposal.md
  openspec/changes/golden-file-testing/specs/golden-file-testing/spec.md
  openspec/changes/golden-file-testing/tasks.md
  openspec/changes/standard-go-unit-tests/.openspec.yaml
  openspec/changes/standard-go-unit-tests/design.md
  openspec/changes/standard-go-unit-tests/proposal.md
  openspec/changes/standard-go-unit-tests/specs/standard-go-unit-tests/spec.md
  openspec/changes/standard-go-unit-tests/tasks.md
  openspec/changes/test-helpers-cleanup/.openspec.yaml
  openspec/changes/test-helpers-cleanup/design.md
  openspec/changes/test-helpers-cleanup/proposal.md
  openspec/changes/test-helpers-cleanup/specs/test-helpers/spec.md
  openspec/changes/test-helpers-cleanup/tasks.md
  openspec/changes/version-package-migration/.openspec.yaml
  openspec/changes/version-package-migration/design.md
  openspec/changes/version-package-migration/proposal.md
  openspec/changes/version-package-migration/specs/version-package/spec.md
  openspec/changes/version-package-migration/tasks.md
Due: none

Extract version variables to internal/version package
  .goreleaser.yml
  cmd/version.go
  internal/version/version.go
Due: goreleaser-dry-run

Mark all tasks complete in version-package-migration
  openspec/changes/version-package-migration/tasks.md
Due: none

Fix artifacts after verification for version-package-migration to include local build configuration updates
  openspec/changes/version-package-migration/design.md
  openspec/changes/version-package-migration/proposal.md
  openspec/changes/version-package-migration/tasks.md
Due: none

Update mise build configuration to use internal/version package
  .mise/config.toml
  openspec/changes/version-package-migration/tasks.md
Due: build-ci-image

Mark all verification tasks complete for version-package-migration
  openspec/changes/version-package-migration/tasks.md
Due: none

Add documentation for version package
  AGENTS.md
  internal/version/AGENTS.md
Due: goreleaser-dry-run

Sync version-package-migration specs to main
  openspec/specs/version-package/spec.md
Due: none

Archive change version-package-migration
  openspec/changes/archive/2026-03-17-version-package-migration/.openspec.yaml
  openspec/changes/archive/2026-03-17-version-package-migration/decision-log.json
  openspec/changes/archive/2026-03-17-version-package-migration/design.md
  openspec/changes/archive/2026-03-17-version-package-migration/iterations.json
  openspec/changes/archive/2026-03-17-version-package-migration/osx-orchestrate.log
  openspec/changes/archive/2026-03-17-version-package-migration/proposal.md
  openspec/changes/archive/2026-03-17-version-package-migration/reflections.md
  openspec/changes/archive/2026-03-17-version-package-migration/specs/version-package/spec.md
  openspec/changes/archive/2026-03-17-version-package-migration/tasks.md
  openspec/changes/archive/2026-03-17-version-package-migration/verification-report.md
Due: none

Review and iterate artifacts for explicit-error-formatting
  openspec/changes/explicit-error-formatting/specs/explicit-error-formatting/spec.md
Due: none

Refactor error formatter to explicit strategy pattern with errors.As() matching
  cmd/error_formatter.go
  cmd/error_formatter_test.go
Due: goreleaser-dry-run

Update documentation for explicit error formatter pattern
  cmd/AGENTS.md
Due: goreleaser-dry-run

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*
