Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*

Complete self-reflection for explicit-error-formatting
  openspec/changes/explicit-error-formatting/reflections.md
Due: none

Archive change explicit-error-formatting
  openspec/changes/archive/2026-03-18-explicit-error-formatting/.openspec.yaml
  openspec/changes/archive/2026-03-18-explicit-error-formatting/decision-log.json
  openspec/changes/archive/2026-03-18-explicit-error-formatting/design.md
  openspec/changes/archive/2026-03-18-explicit-error-formatting/iterations.json
  openspec/changes/archive/2026-03-18-explicit-error-formatting/osx-orchestrate.log
  openspec/changes/archive/2026-03-18-explicit-error-formatting/proposal.md
  openspec/changes/archive/2026-03-18-explicit-error-formatting/reflections.md
  openspec/changes/archive/2026-03-18-explicit-error-formatting/specs/explicit-error-formatting/spec.md
  openspec/changes/archive/2026-03-18-explicit-error-formatting/suggestions.md
  openspec/changes/archive/2026-03-18-explicit-error-formatting/tasks.md
  openspec/changes/archive/2026-03-18-explicit-error-formatting/verification-report.md
  openspec/changes/explicit-error-formatting/tasks.md
Due: none

Review and iterate artifacts for test-helpers-cleanup
  openspec/changes/test-helpers-cleanup/design.md
  openspec/changes/test-helpers-cleanup/proposal.md
  openspec/changes/test-helpers-cleanup/specs/test-helpers/spec.md
  openspec/changes/test-helpers-cleanup/tasks.md
Due: none

Register automatic cleanup for RepoTestHelper
  test/helpers/repo.go
Due: none

Document automatic cleanup patterns in test helpers
  test/helpers/AGENTS.md
Due: none

Mark all test-helpers-cleanup tasks complete
  openspec/changes/test-helpers-cleanup/tasks.md
Due: none

Sync test-helpers-cleanup specs to main
  openspec/specs/test-helpers/spec.md
Due: none

Archive change test-helpers-cleanup
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/.openspec.yaml
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/decision-log.json
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/design.md
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/iterations.json
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/osx-orchestrate.log
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/proposal.md
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/reflections.md
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/specs/test-helpers/spec.md
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/tasks.md
  openspec/changes/archive/2026-03-18-test-helpers-cleanup/verification-report.md
Due: none

Review and iterate artifacts for golden-file-testing
  openspec/changes/golden-file-testing/specs/golden-file-testing/spec.md
Due: none

Add golden file testing infrastructure
  .mise/config.toml
  openspec/changes/golden-file-testing/tasks.md
  test/golden/errors/.gitkeep
  test/golden/list/.gitkeep
  test/helpers/golden.go
Due: build-ci-image

Add golden file tests for list and error output
  openspec/changes/golden-file-testing/tasks.md
  test/e2e/golden_test.go
  test/golden/errors/git_error.golden
  test/golden/errors/not_found_error.golden
  test/golden/errors/validation_error.golden
  test/golden/list/basic_output.golden
  test/golden/list/empty_output.golden
  test/golden/list/json_output.golden
  test/helpers/golden.go
Due: none

Update mise tasks to use ginkgo and fix golden file tests
  .mise/config.toml
  openspec/changes/golden-file-testing/tasks.md
Due: build-ci-image

Add golden file testing documentation
  openspec/changes/golden-file-testing/tasks.md
  test/AGENTS.md
  test/helpers/AGENTS.md
Due: none

Normalize golden file comparison with TrimSpace
  test/e2e/golden_test.go
Due: none

Trim actual output in golden file comparison
  test/e2e/golden_test.go
Due: none

Update documentation for golden file testing commands
  AGENTS.md
Due: none

Sync golden-file-testing specs to main
  openspec/specs/golden-file-testing/spec.md
Due: none

Archive change golden-file-testing
  openspec/changes/archive/2026-03-18-golden-file-testing/.openspec.yaml
  openspec/changes/archive/2026-03-18-golden-file-testing/decision-log.json
  openspec/changes/archive/2026-03-18-golden-file-testing/design.md
  openspec/changes/archive/2026-03-18-golden-file-testing/iterations.json
  openspec/changes/archive/2026-03-18-golden-file-testing/osx-orchestrate.log
  openspec/changes/archive/2026-03-18-golden-file-testing/proposal.md
  openspec/changes/archive/2026-03-18-golden-file-testing/reflections.md
  openspec/changes/archive/2026-03-18-golden-file-testing/specs/golden-file-testing/spec.md
  openspec/changes/archive/2026-03-18-golden-file-testing/suggestions.md
  openspec/changes/archive/2026-03-18-golden-file-testing/tasks.md
  openspec/changes/archive/2026-03-18-golden-file-testing/verification-report.md
Due: none

Fix file count inconsistencies in standard-go-unit-tests artifacts
  openspec/changes/standard-go-unit-tests/design.md
Due: none

Convert domain layer tests to standard Go testing
  internal/domain/config_test.go
  internal/domain/context_test.go
  internal/domain/errors_test.go
  internal/domain/service_errors_test.go
  internal/domain/shell_errors_test.go
  internal/domain/shell_test.go
  internal/domain/validation_test.go
Due: goreleaser-dry-run

Convert infrastructure layer tests to standard Go testing
  internal/infrastructure/cli_client_test.go
  internal/infrastructure/command_executor_test.go
  internal/infrastructure/config_manager_test.go
  internal/infrastructure/context_detector_test.go
  internal/infrastructure/context_resolver_test.go
  internal/infrastructure/git_client_test.go
  internal/infrastructure/git_utils_test.go
  internal/infrastructure/gogit_client_test.go
  internal/infrastructure/hook_runner_test.go
  internal/infrastructure/pathutils_test.go
  internal/infrastructure/shell_infra_test.go
Due: goreleaser-dry-run

Convert service layer tests to standard Go testing
  cmd/completion_test.go
  cmd/error_handler_test.go
  cmd/init_test.go
  cmd/suggestions_test.go
  internal/service/context_service_test.go
  internal/service/navigation_service_test.go
  internal/service/project_service_test.go
  internal/service/shell_service_test.go
  internal/service/worktree_service_test.go
  openspec/changes/standard-go-unit-tests/tasks.md
Due: goreleaser-dry-run

Update standard-go-unit-tests tasks and complete PHASE1
  openspec/changes/standard-go-unit-tests/tasks.md
Due: none

Update test/AGENTS.md with standard Go testing patterns
  openspec/changes/standard-go-unit-tests/tasks.md
  test/AGENTS.md
Due: none

Sync standard-go-unit-tests specs to main
  openspec/specs/standard-go-unit-tests/spec.md
Due: none

Archive change standard-go-unit-tests
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/.openspec.yaml
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/decision-log.json
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/design.md
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/iterations.json
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/osx-orchestrate.log
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/proposal.md
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/reflections.md
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/specs/standard-go-unit-tests/spec.md
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/tasks.md
  openspec/changes/archive/2026-03-18-standard-go-unit-tests/verification-report.md
Due: none

Add centralize-interfaces openspec change
  openspec/changes/centralize-interfaces/.openspec.yaml
  openspec/changes/centralize-interfaces/design.md
  openspec/changes/centralize-interfaces/proposal.md
  openspec/changes/centralize-interfaces/specs/interface-centralization.md
  openspec/changes/centralize-interfaces/tasks.md
Due: none

Add domain isolation and compile-time interface checks
  .golangci.yml
  .pre-commit-config.yaml
  cmd/doc.go
  internal/domain/doc.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/config_manager.go
  internal/infrastructure/git_client.go
  internal/infrastructure/gogit_client.go
  internal/infrastructure/hook_runner.go
  internal/infrastructure/shell_infra.go
  internal/service/context_service.go
  internal/service/doc.go
  internal/service/navigation_service.go
  internal/service/project_service.go
  internal/service/shell_service.go
  internal/service/worktree_service.go
Due: goreleaser-dry-run

Fix task sequencing in centralize-interfaces artifacts
  openspec/changes/centralize-interfaces/design.md
  openspec/changes/centralize-interfaces/tasks.md
Due: none

Centralize all interface definitions in application package
  internal/application/interfaces.go
  internal/domain/config.go
  internal/domain/context.go
  internal/infrastructure/cli_client.go
  internal/infrastructure/config_manager.go
  internal/infrastructure/config_manager_test.go
  internal/infrastructure/context_detector.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/git_client.go
  internal/infrastructure/git_utils.go
  internal/infrastructure/gogit_client.go
  internal/infrastructure/hook_runner.go
  internal/infrastructure/hook_runner_test.go
  internal/infrastructure/interfaces.go
  internal/infrastructure/shell_infra.go
  internal/service/context_service.go
  internal/service/project_service.go
  internal/service/shell_service.go
  internal/service/worktree_service.go
  openspec/changes/centralize-interfaces/tasks.md
  test/integration/hook_runner_test.go
  test/integration/prune_integration_test.go
  test/mocks/git_service_mock.go
  test/mocks/mock_context_detector.go
  test/mocks/mock_context_resolver.go
  test/mocks/shell_infrastructure_mock.go
Due: goreleaser-dry-run

Update AGENTS.md for interface centralization
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/infrastructure/AGENTS.md
  openspec/changes/centralize-interfaces/tasks.md
Due: goreleaser-dry-run

Complete self-reflection for centralize-interfaces
  openspec/changes/centralize-interfaces/reflections.md
Due: none

Archive change centralize-interfaces
  openspec/changes/archive/2026-03-25-centralize-interfaces/.openspec.yaml
  openspec/changes/archive/2026-03-25-centralize-interfaces/design.md
  openspec/changes/archive/2026-03-25-centralize-interfaces/proposal.md
  openspec/changes/archive/2026-03-25-centralize-interfaces/reflections.md
  openspec/changes/archive/2026-03-25-centralize-interfaces/specs/interface-centralization.md
  openspec/changes/archive/2026-03-25-centralize-interfaces/tasks.md
Due: none

Document complete changelog from v0.1.0 to current
  .mise/config.toml
  .mise/tasks/lib/release-lib.sh
  .mise/tasks/release/check
  .mise/tasks/release/prepare
  .mise/tasks/release/tag
  .mise/tasks/release/tag.sh
  CHANGELOG.md
Due: build-ci-image

Release v0.11.0
  CHANGELOG.md
Due: none

Add code-quality-improvements openspec change
  openspec/changes/code-quality-improvements/.openspec.yaml
  openspec/changes/code-quality-improvements/design.md
  openspec/changes/code-quality-improvements/proposal.md
  openspec/changes/code-quality-improvements/specs/cli-improvements/spec.md
  openspec/changes/code-quality-improvements/specs/code-deduplication/spec.md
  openspec/changes/code-quality-improvements/specs/concurrency/spec.md
  openspec/changes/code-quality-improvements/specs/error-handling/spec.md
  openspec/changes/code-quality-improvements/specs/testing-coverage/spec.md
  openspec/changes/code-quality-improvements/specs/type-safety/spec.md
  openspec/changes/code-quality-improvements/tasks.md
Due: none

Implement code quality improvements
  cmd/cd.go
  cmd/create.go
  cmd/delete.go
  cmd/prune.go
  cmd/util.go
  internal/domain/config.go
  internal/domain/service_errors.go
  internal/infrastructure/hook_runner.go
  internal/service/shell_service.go
  internal/service/worktree_service.go
  main.go
  openspec/changes/code-quality-improvements/tasks.md
Due: goreleaser-dry-run

Update golden files for error message format changes
  test/golden/errors/git_error.golden
  test/golden/errors/not_found_error.golden
Due: none

Complete code quality improvements testing phase
  cmd/error_formatter_test.go
  cmd/util_test.go
  openspec/changes/code-quality-improvements/tasks.md
  test/e2e/cd_test.go
  test/e2e/create_test.go
  test/e2e/edge_case_test.go
  test/e2e/prune_test.go
  test/integration/service_integration_test.go
Due: goreleaser-dry-run

Update documentation for code-quality-improvements
  cmd/AGENTS.md
Due: goreleaser-dry-run
