Repository amauryconstant/twiggit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, goreleaser-dry-run

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/twiggit/ci
  before_script:
  - apk add --no-cache curl
  ...

goreleaser-dry-run:
  stage: validate
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  script:
  - goreleaser release --snapshot --skip-publish --clean

Document test-coverage change
  AGENTS.md
  test/AGENTS.md
  test/concurrent/AGENTS.md
  test/e2e/fixtures/AGENTS.md
Due: none

Sync test-coverage specs to main
  openspec/specs/concurrent-operations/spec.md
  openspec/specs/edge-case-fixtures/spec.md
  openspec/specs/main-entry-point/spec.md
  openspec/specs/test-helpers/spec.md
Due: none

Archive change test-coverage
  openspec/changes/archive/2026-03-15-test-coverage/complete.json
  openspec/changes/archive/2026-03-15-test-coverage/decision-log.json
  openspec/changes/archive/2026-03-15-test-coverage/design.md
  openspec/changes/archive/2026-03-15-test-coverage/iterations.json
  openspec/changes/archive/2026-03-15-test-coverage/osx-orchestrate.log
  openspec/changes/archive/2026-03-15-test-coverage/proposal.md
  openspec/changes/archive/2026-03-15-test-coverage/reflections.md
  openspec/changes/archive/2026-03-15-test-coverage/specs/concurrent-operations/spec.md
  openspec/changes/archive/2026-03-15-test-coverage/specs/edge-case-fixtures/spec.md
  openspec/changes/archive/2026-03-15-test-coverage/specs/main-entry-point/spec.md
  openspec/changes/archive/2026-03-15-test-coverage/specs/test-helpers/spec.md
  openspec/changes/archive/2026-03-15-test-coverage/tasks.md
  openspec/changes/archive/2026-03-15-test-coverage/verification-report.md
Due: none

Ensure test repos use main branch
  test/concurrent/concurrent_test.go
  test/helpers/git.go
  test/helpers/helpers_test.go
  test/helpers/worktree_coverage_test.go
  test/integration/context_detection_test.go
Due: none

Archive change improve-shell-completion
  openspec/changes/archive/2026-03-15-improve-shell-completion/.openspec.yaml
  openspec/changes/archive/2026-03-15-improve-shell-completion/decision-log.json
  openspec/changes/archive/2026-03-15-improve-shell-completion/design.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/iterations.json
  openspec/changes/archive/2026-03-15-improve-shell-completion/osx-orchestrate.log
  openspec/changes/archive/2026-03-15-improve-shell-completion/proposal.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/reflections.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/specs/completion-enrichment/spec.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/specs/completion-filtering/spec.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/specs/path-resolution/spec.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/specs/shell-completion/spec.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/tasks.md
  openspec/changes/archive/2026-03-15-improve-shell-completion/verification-report.md
Due: none

Update documentation for improve-shell-completion
  AGENTS.md
  cmd/AGENTS.md
Due: goreleaser-dry-run

Sync improve-shell-completion specs to main
  openspec/specs/completion-enrichment/spec.md
  openspec/specs/completion-filtering/spec.md
  openspec/specs/path-resolution/spec.md
Due: none

Implement shell completion enhancements with fuzzy matching and smart sorting
  .openspec-auto-improve-shell-completion.log
  cmd/completion_test.go
  cmd/suggestions.go
  cmd/suggestions_test.go
  internal/domain/config.go
  internal/domain/context.go
  internal/infrastructure/context_resolver.go
  internal/infrastructure/context_resolver_test.go
  openspec/changes/improve-shell-completion/tasks.md
  openspec/specs/path-resolution/spec.md
  openspec/specs/shell-completion/spec.md
  test/integration/completion_test.go
Due: goreleaser-dry-run

Add OpenSpec change for shell completion improvements
  openspec/changes/improve-shell-completion/.openspec.yaml
  openspec/changes/improve-shell-completion/design.md
  openspec/changes/improve-shell-completion/proposal.md
  openspec/changes/improve-shell-completion/specs/completion-enrichment/spec.md
  openspec/changes/improve-shell-completion/specs/completion-filtering/spec.md
  openspec/changes/improve-shell-completion/specs/path-resolution/spec.md
  openspec/changes/improve-shell-completion/specs/shell-completion/spec.md
  openspec/changes/improve-shell-completion/tasks.md
Due: none

Add OpenSpec changes for release preparation
  openspec/changes/distribution-setup/.openspec.yaml
  openspec/changes/distribution-setup/design.md
  openspec/changes/distribution-setup/proposal.md
  openspec/changes/distribution-setup/specs/contributor-guide/spec.md
  openspec/changes/distribution-setup/specs/github-releases/spec.md
  openspec/changes/distribution-setup/specs/homebrew-distribution/spec.md
  openspec/changes/distribution-setup/tasks.md
  openspec/changes/release-foundation-docs/.openspec.yaml
  openspec/changes/release-foundation-docs/design.md
  openspec/changes/release-foundation-docs/proposal.md
  openspec/changes/release-foundation-docs/specs/README.md
  openspec/changes/release-foundation-docs/tasks.md
Due: none

Fix Homebrew tap name and add GitHub release automation
  .goreleaser.yml
  .goreleaser/hooks/create-github-release.sh
  .mise/tasks/release/dry-run.sh
  README.md
Due: goreleaser-dry-run

Add Homebrew installation and GitHub Releases to README
  README.md
Due: none

Review and iterate artifacts for release-foundation-docs
  openspec/changes/release-foundation-docs/design.md
  openspec/changes/release-foundation-docs/tasks.md
Due: none

Migrate Homebrew distribution from brews to casks
  .gitlab-ci.yml
  .goreleaser.yml
  README.md
  openspec/specs/homebrew-distribution/spec.md
Due: goreleaser-dry-run

Complete self-reflection for distribution-setup
  openspec/changes/distribution-setup/reflections.md
Due: none

Update documentation for distribution-setup
  AGENTS.md
Due: none

Add contributor documentation with setup and style guide
  CONTRIBUTING.md
Due: none

Update documentation for release-foundation-docs
  AGENTS.md
Due: none

Archive change distribution-setup
  openspec/changes/archive/2026-03-15-distribution-setup/.openspec.yaml
  openspec/changes/archive/2026-03-15-distribution-setup/decision-log.json
  openspec/changes/archive/2026-03-15-distribution-setup/design.md
  openspec/changes/archive/2026-03-15-distribution-setup/iterations.json
  openspec/changes/archive/2026-03-15-distribution-setup/osx-orchestrate.log
  openspec/changes/archive/2026-03-15-distribution-setup/proposal.md
  openspec/changes/archive/2026-03-15-distribution-setup/reflections.md
  openspec/changes/archive/2026-03-15-distribution-setup/specs/contributor-guide/spec.md
  openspec/changes/archive/2026-03-15-distribution-setup/specs/github-releases/spec.md
  openspec/changes/archive/2026-03-15-distribution-setup/specs/homebrew-distribution/spec.md
  openspec/changes/archive/2026-03-15-distribution-setup/suggestions.md
  openspec/changes/archive/2026-03-15-distribution-setup/tasks.md
  openspec/changes/archive/2026-03-15-distribution-setup/verification-report.md
Due: none

Sync distribution-setup specs to main
  openspec/specs/contributor-guide/spec.md
  openspec/specs/github-releases/spec.md
  openspec/specs/homebrew-distribution/spec.md
Due: none

Archive change release-foundation-docs
  openspec/changes/archive/2026-03-13-release-foundation-docs/.openspec.yaml
  openspec/changes/archive/2026-03-13-release-foundation-docs/decision-log.json
  openspec/changes/archive/2026-03-13-release-foundation-docs/design.md
  openspec/changes/archive/2026-03-13-release-foundation-docs/iterations.json
  openspec/changes/archive/2026-03-13-release-foundation-docs/osx-orchestrate.log
  openspec/changes/archive/2026-03-13-release-foundation-docs/proposal.md
  openspec/changes/archive/2026-03-13-release-foundation-docs/reflections.md
  openspec/changes/archive/2026-03-13-release-foundation-docs/specs/README.md
  openspec/changes/archive/2026-03-13-release-foundation-docs/tasks.md
  openspec/changes/archive/2026-03-13-release-foundation-docs/verification-report.md
Due: none

Fix artifacts after verification for distribution-setup
  openspec/changes/distribution-setup/design.md
  openspec/changes/distribution-setup/proposal.md
  openspec/changes/distribution-setup/specs/github-releases/spec.md
  openspec/changes/distribution-setup/tasks.md
Due: none

Correct GitHub releases URL to amauryconstant/twiggit
  README.md
Due: none

Add Homebrew tap configuration to GoReleaser
  .goreleaser.yml
Due: goreleaser-dry-run

Add release documentation: LICENSE, CHANGELOG, and README badges
  CHANGELOG.md
  LICENSE
  README.md
  openspec/changes/release-foundation-docs/tasks.md
Due: none

Mark all distribution-setup tasks complete
  openspec/changes/distribution-setup/tasks.md
Due: none

Remove OpenSpec workflow log file
  .openspec-auto-improve-shell-completion.log
Due: none

Refactor mise tasks to use explicit run arrays
  .mise/config.toml
Due: build-ci-image

Improve error clarity and user experience
  cmd/error_formatter.go
  cmd/error_handler.go
  cmd/error_handler_test.go
  internal/domain/service_errors.go
  internal/domain/service_errors_test.go
  main.go
  openspec/changes/error-clarity/tasks.md
  test/e2e/error_clarity_test.go
Due: goreleaser-dry-run

Review and iterate artifacts for error-clarity
  openspec/changes/error-clarity/specs/error-clarity/spec.md
  openspec/changes/error-clarity/tasks.md
Due: none

Update documentation for output-scripting
  cmd/AGENTS.md
  openspec/changes/output-scripting/tasks.md
Due: goreleaser-dry-run

Review and iterate artifacts for output-scripting
  openspec/changes/output-scripting/specs/output-formats/spec.md
  openspec/changes/output-scripting/specs/progress-reporting/spec.md
  openspec/changes/output-scripting/specs/quiet-mode/spec.md
Due: none

Add OpenSpec changes for core CLI improvements
  openspec/changes/ergonomics-improvements/.openspec.yaml
  openspec/changes/ergonomics-improvements/design.md
  openspec/changes/ergonomics-improvements/proposal.md
  openspec/changes/ergonomics-improvements/specs/command-aliases/spec.md
  openspec/changes/ergonomics-improvements/specs/command-flags/spec.md
  openspec/changes/ergonomics-improvements/tasks.md
  openspec/changes/error-clarity/.openspec.yaml
  openspec/changes/error-clarity/design.md
  openspec/changes/error-clarity/proposal.md
  openspec/changes/error-clarity/specs/error-clarity/spec.md
  openspec/changes/error-clarity/tasks.md
  openspec/changes/output-scripting/.openspec.yaml
  openspec/changes/output-scripting/design.md
  openspec/changes/output-scripting/proposal.md
  openspec/changes/output-scripting/specs/command-flags/spec.md
  openspec/changes/output-scripting/specs/output-formats/spec.md
  openspec/changes/output-scripting/specs/progress-reporting/spec.md
  openspec/changes/output-scripting/specs/quiet-mode/spec.md
  openspec/changes/output-scripting/specs/verbose-output/spec.md
  openspec/changes/output-scripting/tasks.md
Due: none

Update e2e tests to use new exit codes
  test/e2e/error_clarity_test.go
  test/e2e/init_test.go
  test/e2e/prune_test.go
Due: none

Update documentation for error-clarity
  AGENTS.md
  cmd/AGENTS.md
Due: goreleaser-dry-run

Add E2E tests for output scripting features
  openspec/changes/output-scripting/tasks.md
  test/e2e/create_test.go
  test/e2e/delete_test.go
  test/e2e/list_test.go
  test/e2e/prune_test.go
Due: none

Sync output-scripting specs to main
  openspec/specs/command-flags/spec.md
  openspec/specs/output-formats/spec.md
  openspec/specs/progress-reporting/spec.md
  openspec/specs/quiet-mode/spec.md
  openspec/specs/verbose-output/spec.md
Due: none

Add output formatting, quiet mode, and progress reporting
  cmd/create.go
  cmd/delete.go
  cmd/error_formatter.go
  cmd/error_handler.go
  cmd/list.go
  cmd/output.go
  cmd/prune.go
  cmd/root.go
  cmd/util.go
  main.go
  openspec/changes/output-scripting/tasks.md
Due: goreleaser-dry-run

Complete self-reflection for output-scripting
  openspec/changes/output-scripting/reflections.md
Due: none

Update OpenSpec-extended to 0.17.0
  .opencode/commands/osx-phase0.md
  .opencode/commands/osx-phase1.md
  .opencode/commands/osx-phase2.md
  .opencode/commands/osx-phase3.md
  .opencode/commands/osx-phase4.md
  .opencode/commands/osx-phase5.md
  .opencode/commands/osx-phase6.md
  .opencode/manifest.json
  .opencode/scripts/osx-orchestrate
  .opencode/skills/osc-apply-change/openspec-apply-change/SKILL.md
  .opencode/skills/osc-archive-change/openspec-archive-change/SKILL.md
  .opencode/skills/osc-bulk-archive-change/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/osc-continue-change/openspec-continue-change/SKILL.md
  .opencode/skills/osc-explore/openspec-explore/SKILL.md
  .opencode/skills/osc-ff-change/openspec-ff-change/SKILL.md
  .opencode/skills/osc-new-change/openspec-new-change/SKILL.md
  .opencode/skills/osc-onboard/openspec-onboard/SKILL.md
  .opencode/skills/osc-propose/openspec-propose/SKILL.md
  .opencode/skills/osc-sync-specs/openspec-sync-specs/SKILL.md
  .opencode/skills/osc-verify-change/openspec-verify-change/SKILL.md
  .opencode/skills/osx-commit/SKILL.md
  .opencode/skills/osx-commit/references/detection.md
  .opencode/skills/osx-commit/references/examples/angular.md
  .opencode/skills/osx-commit/references/examples/classic.md
  .opencode/skills/osx-commit/references/examples/conventional.md
  .opencode/skills/osx-commit/references/examples/gitmoji.md
  .opencode/skills/osx-commit/references/standards.md
  .opencode/skills/osx-commit/scripts/detect-commit-style
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  goreleaser-dry-run: any of: .goreleaser.yml, go.mod, go.sum, cmd/**/*, internal/**/*
